/* colors */

$transparent-color: transparent;

$white-color: rgb(255, 255, 255);
$light-white-color: rgba(255, 255, 255, 0.6);
$light-white-color2: rgba(255, 255, 255, 0.5);

$black-color:rgba(0, 0, 0, 1);
$lightblack-color:rgba(0, 0, 0, 0.4);

$link-hover:#2438bf;

$blue-color: #2a42e1;
$lightblue-color: rgba(39, 164, 248, 0.5);
$lightblue-color2: rgba(39, 164, 248, 0.3);

$darkblue-color: #0C406B;

$color1: #979797;
$light-color1: rgba(60, 69, 76, 0.5);

$primary-color:#2a42e1;

$sub-color1:#6E84A3;
$sub-color2:#285B89;
$sub-color3:#D9EFFF;
$sub-color4:#222D39;

/* End of colors */

.landing-body { font-size: 14px; -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: 100%; background-color: #FAFBFD; font-family: 'Poppins', sans-serif !important; scroll-behavior: smooth; overflow-x: hidden; }

/* header */

.header-root{
    .header-div {
        background-color: transparent;
        .logo_img{  width: 95px; }
        .header-container { padding: 20px 0; display: flex; }
        .nav-link.btn-white-rounded {
            min-height: 56px; background-color: #fff; color: #0033CB; margin: 0 ; padding: 14px 30px 10px 30px; display: flex; line-height: 24px; align-items: center; justify-content: center; border-radius: 100px; transition: all 0.8s;
            &:hover, &:focus, &:active{
                box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2); color: #0033CB; transform: translateY(-2px); 
            }
            &:before, &:after{ display: none; }
        }
        .ullist-inline li:last-child { margin: 0 0px 0 0; }
        .nav-center-div{ align-items: flex-start; }
    }
}


.header-div.header-bgcolor { 

    padding: 0; margin: 0; background-color: #2A42E1; position: fixed; z-index: 99999; width: 100%; min-height: 75px; transition: all 0.5s; top: 0; left: 0; box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    
    .header-container{ padding: 10px 0; }

    .logo-div { min-height: 55px; }
    .nav-center-div{     min-height: 55px; padding: 0 0 0 0; display: flex; align-items: center; }
    .header-right-div{ min-height: 55px; }
    .logo_img{ width: 55px; }
    
    .logo_img.text-logo{ display: block; width: auto; height: 40px; }
    .ullist-inline li .nav-link { color:  #ffffff; }
    .ullist-inline li .nav-link:hover{ color: #ffffff; }
    .ullist-inline li.active .nav-link{ color: #ffffff; }

    .ullist-inline li .nav-link.btn-white-rounded{ color: #0033CB; 
        &:hover, &:focus, &:active{ color: #0033CB;  }
    }

} 

/* End of header */

.btn.white-btn {
    padding: 12px 50px 10px 50px; margin: 0; min-height: 70px; border-radius: 100px; font-size: 24px; line-height: 32px; color: #0033CB; font-weight: 600; display: flex; align-items: center; transition: all 0.8s; background-color: #ffffff;
    &:hover, &:focus, &:active{ box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2); color: #0033CB; transform: translateY(-2px); }
}
.btn.btn-store { padding: 0; transition: all 0.8s; }

.btn-arrow-link {
    padding: 0; margin: 0; font-size: 18px; color: #2C2E30; font-weight: 600; line-height: 30px; display: flex; align-items: center;
    .material-icons{ transform: rotate(180deg); }
    &:hover, &:focus, &:active{ color: #0033CB;  }
}

.btn-video-round { padding: 0; margin: 0; background-color: #2F5BEA; border: 2px solid rgba(255, 255, 255, 0.2); color: #fff; height: 90px; width: 90px; border-radius: 100%; display: flex; align-items: center; justify-content: center;
    .material-icons { font-size: 42px; }
}

.mr-30{ margin-right: 30px; }
.mt-20{ margin-top: 20px; }
.mr-10{ margin-right: 10px; }
.mb-40{ margin-bottom: 40px !important; }
.minus-t-100{ margin-top: -100px !important; }

/* banner */
.banner-section{  
    padding: 0; margin: 0; position: relative; 
    background:#2F5BEA url(../images/cover-banner.jpg) no-repeat; background-size: cover; 
    .banner-div{ 
        padding: 0; margin: 0; position: relative; display: flex; align-items: center; overflow: hidden; 
        background:rgba(47, 91, 234, 0.1) url(../images/mask-shape.svg) no-repeat; background-size: cover; background-position: 100% calc(100% - -1px);
        .bannerleft-6 { padding: 0; }
        .bannerright-6{ padding: 0; position: initial; }

        .height-100{ 
            height: 100%; min-height: 100vh; display: flex; align-items: center; padding: 150px 0 150px 0;
            .content-banner h1{ text-align: left; }
        }

        .content-banner{ 
            padding: 0; margin: 0; display: flex; align-items: center; justify-content: flex-end; position: relative; width: 100%; height: 100%;
            .text-content{ max-width: 100%; padding: 0 25px; }

            h1{ padding: 0; margin: 0 0 10px 0; color: $white-color; font-size: 54px; font-weight: 700; line-height: 60px; }
            h4{ padding: 0; margin: 0 0 40px 0; color: $white-color; font-size: 24px; line-height: 32px; letter-spacing: 1px; font-weight: 400;  }
            p{ padding: 0; margin: 0 0 40px 0; color: $white-color; font-size: 18px; line-height: 28px; font-weight: 400;  }
            .span-block{ display: block; }

            .btn-row-banner{  padding: 10px 0 0 0; margin: 0px 0 30px 0; }
            .store-icon-div { padding: 0; margin: 0; display: flex; align-items: center; }

            .img-store-icon{ height: 70px; }

        }

        .side-img-banner{ 
            .img-app { max-height: 580px; width: 100%; object-fit: contain; object-position: center; }
        }


    }

}
/* End of banner */

.header-common-div{
    padding: 0; margin: 0 0 30px 0; position: relative;
    h5 { padding: 0; margin: 0 0 20px 0; color: #222222; font-size: 18px; font-weight: 300; text-align: center; }
    h3 { padding: 0; margin: 0; color: #222222; font-size: 24px; line-height: 36px; font-weight: 700; text-align: center; }
    .span-block{ display: block; }
}

.header-left-common-div{
    padding: 0; margin: 0 0 30px 0; position: relative;
    h6 { padding: 0; margin: 0 0 10px 0; color: #222222; font-size: 14px; font-weight: 300; text-align: left; }
    h3 { padding: 0; margin: 0; color: #222222; font-size: 24px; line-height: 36px; font-weight: 700; text-align: left; }
    .span-block{ display: block; }
}

.card-box{
    padding: 0; margin: 0 0 30px 0; position: relative;
    .icon-div{
        padding: 0; margin: 0 0 15px 0; position: relative;
        .img-icon { height: 70px; }
        .img-icon-flow { height: 80px; }
    }
    h4 { padding: 0; margin: 0 0 15px 0; color: #222222; font-size: 20px; line-height: 36px; font-weight: 600; }
    p { padding: 0; margin: 0; color: #666666; font-size: 14px; font-weight: 400; line-height: 24px; }
}

.card-box2{
    .prag-content-div{
        padding: 0; margin: 0 0 30px 0; position: relative;
    }
}

.card-box-white{
    .prag-content-div{ padding: 0; margin: 0 0 30px 0; position: relative; }
    .header-left-common-div{ margin: 0 0 20px 0; }
    h5{ color:#fff;  margin: 0 0 10px 0; }
    h3{ color:#fff; }
    p{ color:#fff; }
}

/* why-choose-section */

.why-choose-section{ 
    padding: 0; margin: 0; position: relative; 
    .why-choose-div{
        padding: 50px 0 50px 0; margin: 0; 

    }
}

.video-content-section{ 
    padding: 0; margin: 0; position: relative; 
    .video-content-div{
        padding: 50px 0 80px 0; margin: 0; 
    }
}

.video-play-div{
    padding: 0; margin: 0; position: relative; 
    .video-img-div{ padding: 0; margin: 0;  }
    .img-video { height: 380px; object-fit: cover; border-radius: 4px; width: 100%; }
    .center-video-btn{ position: absolute; top: 0; left: 0;  display: flex; align-items: center; justify-content: center; height: 100%; width: 100%;  }
}

.slider-mobile-section{ 
    padding: 0; margin: 0; position: relative;  background-color: #2F5BEA;
    .slider-mobile-div{
        padding: 50px 0 0px 0; margin: 0; min-height: 550px;
    }
}

.slider-owl-div{
    padding: 0px 0 0 0; margin: 0; display: flex;
    .owl-app { margin: 0 0 -120px 0; padding: 0 0 0 0; }
    .app-box-div{
        display: flex; align-items: flex-start; width: 100%; flex-wrap: wrap;
        .app-thumb{ z-index: 3;
            .app-img { max-height: 600px; width: 100%; object-fit: contain; object-position: center; }
        }
        .app-desc{
            padding: 100px 20px 20px 20px; margin: 0;
            h4 { padding: 0; margin: 0 0 10px 0; color: #ffffff; font-size: 20px; line-height: 36px; font-weight: 600; }
            p { padding: 0; margin: 0; color: #ffffff; font-size: 14px; font-weight: 400; line-height: 24px; }
        }
    }
    .owl-nav { position: absolute; top: 20px; left: calc(50% + 15px); z-index: 2;
        .owl-prev, .owl-next{ outline: none; }
        .span-roundcircle {
            height: 48px; width: 48px; display: flex; align-items: center; justify-content: center; background-color: rgba(255, 255, 255, 0.2); border-radius: 100%; font-size: 24px; transition: all 0.8s;
            .material-icons{ color: #fff; }
            &:hover, &:focus, &:active{
                background-color: #fff; outline: none;
                .material-icons{ color: #2F5BEA; }
            }
        }
        .left-roundcircle{ margin-right: 15px; }
        .left-arrow-icon { transform: rotate(180deg); }
    }
    .owl-item.active{ 
        .app-thumb {  }
    }

}

.app-box-div{
    .owl-nav { display: flex; align-items: center; justify-content: center; flex-direction: column; position: absolute; top: 0; right: -90px; min-height: 325px; }
    span.span-roundcircle { display: flex; height: 50px; width: 50px; align-items: center; justify-content: center; background-color: $white-color; color: $darkblue-color; font-size: 21px; box-shadow: 0 3px 6px 0 rgba(44, 123, 229, 0.1); border-radius: 100px; margin: 0 0 0px 0;  transition: 0.8s; }
    .owl-carousel .owl-nav button.owl-next:focus, .owl-carousel .owl-nav button.owl-prev:focus, .owl-carousel button.owl-dot:focus{ outline: none !important; }
    .owl-prev{ margin: 0 0 20px 0; }
    button{ transition: 0.8s; }
    button.disabled{ opacity: 0.7; }
    button:focus { outline: 0px dotted !important; outline: 0px auto -webkit-focus-ring-color !important; }
    button:hover, button:focus{ span.span-roundcircle{ box-shadow: 0 0px 10px 0 rgba(44, 123, 229, 0.2);   } 
    }
}

.flow-section{ 
    padding: 0; margin: 0; position: relative; 
    .flow-div{
        padding: 180px 0 50px 0; margin: 0; 

    }
}

.pricing-section{ 
    padding: 0; margin: 0; position: relative; 
    .pricing-div{
        padding: 50px 80px 70px 80px; margin: 0;
    }
}

.pricing-card-box{
    padding: 0; margin: 0 0px 30px 0px; position: relative; border: 1px solid #DDDDDD; border-radius: 8px;
    h4 { padding: 0; margin: 0 0 15px 0; color: #222222; font-size: 20px; line-height: 36px; font-weight: 600; }
    .pricing-number { padding: 0; margin: 5px 0 0 0; color: #2F5BEA; font-size: 36px; font-weight: 400; }
    p { padding: 0; margin: 0; color: #666666; font-size: 14px; font-weight: 400; line-height: 24px; }
    .strike-span { padding: 0; margin: 0; font-size: 14px; font-weight: 400; text-decoration: line-through; color: #666; }
    .content-div { padding: 20px; margin: 0; text-align: center; }
    .details-plan-div { padding: 60px 0 0 0; margin: 0 0 0px 0; min-height: 180px; }
    .button-row-plan { padding: 20px 20px 30px 20px; margin: 0 0 0px 0; }
    
    &.free-pricing-card-box{
        background-color: #2F5BEA; border-color: #2F5BEA;
        h4{ color: #fff;     margin: 0 0 35px 0; }  
        .pricing-number{ color: #fff; }
        p{ color: #fff; }
        .btn.btn-get-started{ 
            &:hover, &:focus, &:active{
                
            }
        }
    }

}

.btn.btn-get-started { 
    padding: 0; margin: 0 auto; color: #2F5BEA; background-color: #FFFFFF; display: flex; align-items: center; justify-content: center; min-height: 48px; font-size: 14px; font-weight: 600; width: 100%; border-radius: 8px; transition: all 0.8s; 
    &:hover, &:focus, &:active{
        background-color: #fff; box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.05); transform: translateY(-2px); 
    }
}

.try-for-free-section{ 
    padding: 0; margin: 0; position: relative;  background-color: #2F5BEA; 
    .try-for-free-div{
        padding: 100px 0 100px 0; margin: 0; background: url(../images/mix-shape.svg) no-repeat; background-size: contain;
    }
}

.header-white-div {
    h3 {margin: 0 0 40px 0; color: #fff; font-size: 30px; letter-spacing: 0.5px;}
    p { padding: 0; margin: 0 0 20px 0; color: #fff; font-size: 14px; font-weight: 400; line-height: 24px; text-align: center; }
}

.get-input-free-group{
    .form-control { min-height: 75px; font-size: 18px; color: #7E8085; padding: 10px 25px; border: 1px solid #fff; border-right: 1px solid #E7EAEE; border-radius: 5px;
        &:hover, &:focus, &:active{ border-color: #E7EAEE !important; }
    }
    .btn-get-started-big { padding: 0; margin: 0; border: none; }
}

.btn.btn-get-started-big {
    padding: 10px; margin: 0 auto; color: #2F5BEA; background-color: #FFFFFF; display: flex; align-items: center; justify-content: center; min-height: 48px; font-size: 16px; font-weight: 600; width: 100%; border-radius: 0px 5px 5px 0px; transition: all 0.8s; min-width: 180px; text-align: center; text-transform: uppercase;
    &:hover, &:focus, &:active{ background-color: rgb(43, 82, 210); color: #fff; }
}

.no-credit-div{
    padding: 0; margin: 10px 0 0 0; 
    p { color: #D2D2D2; font-weight: 400; font-size: 14px; }
}


.app-mobile-section{ 
    padding: 0; margin: 0; position: relative;  
    .app-mobile-div{
        padding: 70px 0 40px 0; margin: 0;
    }
}

.app-mobile-card-box{
    .header-left-common-div{
        h3 { margin: 0 0 15px 0; }
    }
    .store-icon-div {
        padding: 20px 0 0 0;
        .img-store-icon { height: 50px; }
    }
}

.round-mobile-div{
    padding: 0; margin: 0; position: relative;  
    .center-app-div{  display: flex; align-items: center; justify-content: center;
        &::before{ content: ""; background-color: #2F5BEA; height: 360px; width: 360px; border-radius: 100%; display: flex; align-items: center; position: absolute; z-index: 2; margin: 0 auto; text-align: center; } 
    }
    .img-app { width: 100%; max-height: 600px; object-fit: contain; z-index: 3; }
}

.footer-app-icon-div{
    .img-store-icon { height: 40px; }
}

.mr-8px{ margin-right: 8px !important; }

.footer-root{
    padding: 0; margin: 0; background-color: #E0E6FC;
    .footer-div { padding: 55px 0 35px 0; margin: 0; position: relative; 
        h4 { color: #222222; font-size: 16px; font-weight: 700; line-height: 24px; margin: 0 0 20px 0; }
        .footer-title2{ h4{ color: #666666;  } }
        .footer-ul { list-style: none; display: flex; flex-direction: column;
            li{ padding: 0; margin: 0 0 0 0px; }
            li.active{ a.link-footer { color: #2a42e1; } }
            a.link-footer { color: #666; padding: 0px 0px 5px 0; font-weight: 400; border-bottom: 1px solid transparent; font-size: 16px; line-height: 24px;        display: inline-block;
                &:hover, &:focus{
                    color: #2a42e1;
                }
            }
        }
       
    }
    .footer-bottom{
        padding: 25px 0 40px 0; margin: 0; border-top: 1px solid rgba(103, 114, 148, 0.1);
        p{ padding: 0; margin: 0; font-weight: 400; color: #222222; font-size: 13px; line-height: 24px; }
        .link-a{ 
            color: #222222; 
            &:hover, &:focus { color: #2a42e1; }
        }
        .footer-bottom-right {
            display: flex; justify-content: flex-end; 
            .btn-round-link { 
                padding: 0; margin: 0; background-color: #51545E; height: 26px; width: 26px; display: flex; align-items: center; justify-content: center; color: #e0e6fc; border-radius: 100%; font-size: 13px; 
                &:hover, &:focus { background-color: #fff; color: #2a42e1; }
            }
        }
    }
}

@media (max-width: 767px) {

    .header-root {
        .header-div {
            .logo-div { padding: 0; }
            .logo_img { width: 50px; }
        }
    }
    

    .btn.white-btn { padding: 10px 20px 8px 20px; min-height: auto; border-radius: 100px; font-size: 16px; line-height: 28px; }

    .banner-section {
        .banner-div {
            background-size: contain; background-position: bottom; background-position: 0px calc(100% - -1px);
            .height-100 { height: 100%; min-height: auto; padding: 0; }
            .content-banner {
                padding: 100px 0 50px 0;
                .text-content { padding: 0 15px; }
                h1 { font-size: 36px; line-height: 48px; margin: 0 0 5px 0; padding: 10px 0 0px 0 !important; }
                h4 { margin: 0 0 30px 0; font-size: 18px; line-height: 26px; }
                p { margin: 0 0 30px 0; font-size: 14px; line-height: 24px; }

                .img-store-icon { height: auto; width: 125px; }
                .btn.btn-store.mr-30 { margin-right: 10px; }

            }
            .side-img-banner { display: flex;
                .img-app { max-width: 290px; margin: 0 auto; white-space: 100%; object-fit: contain; object-position: bottom;}
            }
        }
    }

    .header-common-div.minus-t-100 { margin: 0 0 40px 0 !important; }
    
    .card-box { margin: 0 0 40px 0; }
    .btn-video-round{ height: 70px;width: 70px; }
    
    .why-choose-section {
        .why-choose-div {
            padding: 50px 0 20px 0;
        }
    }
    
    .video-content-section .video-content-div { padding: 30px 0 50px 0; }

    /* heading */
    .header-common-div {
        h5 { margin: 0 0 10px 0; font-size: 14px; }
        h3 { font-size: 20px; line-height: 28px; }
    }
    /* End of heading */
    
    .why-choose-section {
        .why-choose-div {
            .card-box {
                text-align: center; margin: 0 0 50px 0;
            }
        }
    }
    
    .slider-owl-div {
        .app-box-div {
            .app-thumb {
                .app-img {
                    max-height: none;
                    max-width: calc(100% - 50px);
                    width: 100%;
                }
            }
            .app-desc {
                padding: 30px 20px 20px 20px;
            }
        }
        .owl-app {
            margin: 0 0 50px 0;
        }
        .owl-nav {
            top: 30px; left: auto; right: 0; display: flex; flex-direction: column;
            .left-roundcircle{
                margin: 0 0 15px 0;
            }
        }
    }
    
    .flow-section {
        .flow-div {
            padding: 80px 0 0px 0; border-bottom: 1px solid #eee;
            .card-box { margin: 0 0 50px 0; text-align: center; }
        }
    }
    
    .pricing-section {
        .pricing-div {
            padding: 50px 0px 70px 0px;
        }
    }
    
    .round-mobile-div {
        .center-app-div {
            &::before {
                height: 290px;
                width: 100%;
                max-width: 290px;
            }
        }
        .img-app { width: 100%; max-height: 400px; }
    }
    
    .pricing-card-box {
        .details-plan-div { min-height: auto; }
    }

    .get-input-free-group {
        flex-direction: column;
        .form-control {
            min-height: 65px; font-size: 16px; padding: 10px 15px; border-radius: 5px !important; width: 100%; margin: 0 0 10px 0;
        }
        .btn.btn-get-started-big{
            border-radius: 5px !important;
        }
    }

    .app-mobile-card-box {
        .store-icon-div {
            .img-store-icon {
                height: 40px;
            }
        }
    }

    .store-icon-div.footer-app-icon-div { margin: 0 0 30px 0; }
    .footer-list-root { margin: 0 0 30px 0; }
    

    .footer-root {
        .footer-div {
            h4 { font-size: 14px; line-height: 24px; margin: 0 0 10px 0; }
            .footer-ul a.link-footer { font-size: 12px; line-height: 20px; }
        }
        .span-block{ display: block; 
            .v-none{ display: none; }
        }
        .footer-bottom {
            .footer-bottom-right {
                justify-content: flex-start; margin: 15px 0 0 0;
            }
        }
    }
    
    header .header-div .ullist-inline li .nav-link{     color: #0033CB !important; }
    .header-root .header-div .nav-link.btn-white-rounded{ justify-content: flex-start;justify-content: center; margin: 15px 0 0 0;
        border: 1px solid #0033CB; 
        &:hover, &:focus, &:active{
            box-shadow: none;
        }
    }
    header .header-div .nav { padding: 0 15px; }
    header .header-div .ullist-inline li .nav-link { text-align: center; }



}

@media (min-width: 1025px) {
    
}

@media (min-width: 768px) and (max-width: 1024px) {

    .header-root {
        .header-div {
            .logo-div { padding: 0; }
            .logo_img { width: 70px; }
        }
    }
    
    .btn.white-btn { padding: 10px 20px 8px 20px; min-height: auto; border-radius: 100px; font-size: 16px; line-height: 28px; }

    .banner-section {
        .banner-div {
            background-size: contain; background-position: 3px calc(101% - -1px);
            .content-banner {
                
                .text-content { padding: 0 15px; }
                h1 { font-size: 42px; line-height: 48px; margin: 0 0 5px 0; padding: 10px 0 0px 0 !important; }
                h4 { margin: 0 0 30px 0; font-size: 20px; line-height: 26px; }
                p { margin: 0 0 30px 0; font-size: 16px; line-height: 24px; }

                .img-store-icon { height: auto; width: 125px; }
                .btn.btn-store.mr-30 { margin-right: 10px; }

            }
            .side-img-banner {     display: flex; align-items: center;
                .img-app { max-width: 350px; margin: 0 auto; }
            }
        }
    }

    .header-common-div.minus-t-100 { margin: 0 0 40px 0 !important; }
    
    .card-box { margin: 0 0 50px 0; }
    .btn-video-round{ height: 70px;width: 70px; }
    
    .header-left-common-div {
        h3 {
            font-size: 20px;
            line-height: 28px;
        }
    }
    
    .slider-owl-div {
        .app-box-div {
            .app-desc {
                h4 { font-size: 18px; line-height: 30px; }
            }
        }
        .owl-app { margin: 0; }
    }
    
    .flow-section {
        .flow-div {
            padding: 70px 0 10px 0;
        }
    }
    
    .pricing-section {
        .pricing-div {
            padding: 50px 0px 70px 0px;
        }
    }
    
    .pricing-card-box {
        h4 { font-size: 18px; line-height: 28px; }
    }
    

    .footer-root {
        .footer-div {
            h4 { font-size: 14px; line-height: 24px; margin: 0 0 10px 0; }
            .footer-ul a.link-footer { font-size: 12px; line-height: 20px; }
        }
        .span-block{ display: block; 
            .v-none{ display: none; }
        }
        .footer-bottom {
            .footer-bottom-right {
                justify-content: flex-end; margin: 0px 0 0 0;
            }
        }
    }

    header .header-div .ullist-inline li .nav-link{     color: #0033CB !important; }
    .header-root .header-div .nav-link.btn-white-rounded{ justify-content: flex-start;justify-content: center; margin: 15px 0 0 0;
        border: 1px solid #0033CB; 
        &:hover, &:focus, &:active{
            box-shadow: none;
        }
    }
    header .header-div .nav { padding: 0 15px; }
    header .header-div .ullist-inline li .nav-link { text-align: center; }

}

@media (min-width: 1024px) and (max-width: 1366px) {

}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {



}

@media (min-width: 1025px) and (max-width: 1290px) {

}
