/* colors */
/* End of colors */
.landing-body {
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  background-color: #FAFBFD;
  font-family: 'Poppins', sans-serif !important;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

/* header */
.header-root .header-div {
  background-color: transparent;
}

.header-root .header-div .logo_img {
  width: 95px;
}

.header-root .header-div .header-container {
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-root .header-div .nav-link.btn-white-rounded {
  min-height: 56px;
  background-color: #fff;
  color: #0033CB;
  margin: 0;
  padding: 14px 30px 10px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 100px;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.header-root .header-div .nav-link.btn-white-rounded:hover, .header-root .header-div .nav-link.btn-white-rounded:focus, .header-root .header-div .nav-link.btn-white-rounded:active {
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
  color: #0033CB;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.header-root .header-div .nav-link.btn-white-rounded:before, .header-root .header-div .nav-link.btn-white-rounded:after {
  display: none;
}

.header-root .header-div .ullist-inline li:last-child {
  margin: 0 0px 0 0;
}

.header-root .header-div .nav-center-div {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.header-div.header-bgcolor {
  padding: 0;
  margin: 0;
  background-color: #2A42E1;
  position: fixed;
  z-index: 99999;
  width: 100%;
  min-height: 75px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  top: 0;
  left: 0;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.header-div.header-bgcolor .header-container {
  padding: 10px 0;
}

.header-div.header-bgcolor .logo-div {
  min-height: 55px;
}

.header-div.header-bgcolor .nav-center-div {
  min-height: 55px;
  padding: 0 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-div.header-bgcolor .header-right-div {
  min-height: 55px;
}

.header-div.header-bgcolor .logo_img {
  width: 55px;
}

.header-div.header-bgcolor .logo_img.text-logo {
  display: block;
  width: auto;
  height: 40px;
}

.header-div.header-bgcolor .ullist-inline li .nav-link {
  color: #ffffff;
}

.header-div.header-bgcolor .ullist-inline li .nav-link:hover {
  color: #ffffff;
}

.header-div.header-bgcolor .ullist-inline li.active .nav-link {
  color: #ffffff;
}

.header-div.header-bgcolor .ullist-inline li .nav-link.btn-white-rounded {
  color: #0033CB;
}

.header-div.header-bgcolor .ullist-inline li .nav-link.btn-white-rounded:hover, .header-div.header-bgcolor .ullist-inline li .nav-link.btn-white-rounded:focus, .header-div.header-bgcolor .ullist-inline li .nav-link.btn-white-rounded:active {
  color: #0033CB;
}

/* End of header */
.btn.white-btn {
  padding: 12px 50px 10px 50px;
  margin: 0;
  min-height: 70px;
  border-radius: 100px;
  font-size: 24px;
  line-height: 32px;
  color: #0033CB;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  background-color: #ffffff;
}

.btn.white-btn:hover, .btn.white-btn:focus, .btn.white-btn:active {
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
  color: #0033CB;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.btn.btn-store {
  padding: 0;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.btn-arrow-link {
  padding: 0;
  margin: 0;
  font-size: 18px;
  color: #2C2E30;
  font-weight: 600;
  line-height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn-arrow-link .material-icons {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.btn-arrow-link:hover, .btn-arrow-link:focus, .btn-arrow-link:active {
  color: #0033CB;
}

.btn-video-round {
  padding: 0;
  margin: 0;
  background-color: #2F5BEA;
  border: 2px solid rgba(255, 255, 255, 0.2);
  color: #fff;
  height: 90px;
  width: 90px;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn-video-round .material-icons {
  font-size: 42px;
}

.mr-30 {
  margin-right: 30px;
}

.mt-20 {
  margin-top: 20px;
}

.mr-10 {
  margin-right: 10px;
}

.mb-40 {
  margin-bottom: 40px !important;
}

.minus-t-100 {
  margin-top: -100px !important;
}

/* banner */
.banner-section {
  padding: 0;
  margin: 0;
  position: relative;
  background: #2F5BEA url(../images/cover-banner.jpg) no-repeat;
  background-size: cover;
}

.banner-section .banner-div {
  padding: 0;
  margin: 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  background: rgba(47, 91, 234, 0.1) url(../images/mask-shape.svg) no-repeat;
  background-size: cover;
  background-position: 100% calc(100% - -1px);
}

.banner-section .banner-div .bannerleft-6 {
  padding: 0;
}

.banner-section .banner-div .bannerright-6 {
  padding: 0;
  position: initial;
}

.banner-section .banner-div .height-100 {
  height: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 150px 0 150px 0;
}

.banner-section .banner-div .height-100 .content-banner h1 {
  text-align: left;
}

.banner-section .banner-div .content-banner {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
  width: 100%;
  height: 100%;
}

.banner-section .banner-div .content-banner .text-content {
  max-width: 100%;
  padding: 0 25px;
}

.banner-section .banner-div .content-banner h1 {
  padding: 0;
  margin: 0 0 10px 0;
  color: white;
  font-size: 54px;
  font-weight: 700;
  line-height: 60px;
}

.banner-section .banner-div .content-banner h4 {
  padding: 0;
  margin: 0 0 40px 0;
  color: white;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 1px;
  font-weight: 400;
}

.banner-section .banner-div .content-banner p {
  padding: 0;
  margin: 0 0 40px 0;
  color: white;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
}

.banner-section .banner-div .content-banner .span-block {
  display: block;
}

.banner-section .banner-div .content-banner .btn-row-banner {
  padding: 10px 0 0 0;
  margin: 0px 0 30px 0;
}

.banner-section .banner-div .content-banner .store-icon-div {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner-section .banner-div .content-banner .img-store-icon {
  height: 70px;
}

.banner-section .banner-div .side-img-banner .img-app {
  max-height: 580px;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

/* End of banner */
.header-common-div {
  padding: 0;
  margin: 0 0 30px 0;
  position: relative;
}

.header-common-div h5 {
  padding: 0;
  margin: 0 0 20px 0;
  color: #222222;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
}

.header-common-div h3 {
  padding: 0;
  margin: 0;
  color: #222222;
  font-size: 24px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
}

.header-common-div .span-block {
  display: block;
}

.header-left-common-div {
  padding: 0;
  margin: 0 0 30px 0;
  position: relative;
}

.header-left-common-div h6 {
  padding: 0;
  margin: 0 0 10px 0;
  color: #222222;
  font-size: 14px;
  font-weight: 300;
  text-align: left;
}

.header-left-common-div h3 {
  padding: 0;
  margin: 0;
  color: #222222;
  font-size: 24px;
  line-height: 36px;
  font-weight: 700;
  text-align: left;
}

.header-left-common-div .span-block {
  display: block;
}

.card-box {
  padding: 0;
  margin: 0 0 30px 0;
  position: relative;
}

.card-box .icon-div {
  padding: 0;
  margin: 0 0 15px 0;
  position: relative;
}

.card-box .icon-div .img-icon {
  height: 70px;
}

.card-box .icon-div .img-icon-flow {
  height: 80px;
}

.card-box h4 {
  padding: 0;
  margin: 0 0 15px 0;
  color: #222222;
  font-size: 20px;
  line-height: 36px;
  font-weight: 600;
}

.card-box p {
  padding: 0;
  margin: 0;
  color: #666666;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.card-box2 .prag-content-div {
  padding: 0;
  margin: 0 0 30px 0;
  position: relative;
}

.card-box-white .prag-content-div {
  padding: 0;
  margin: 0 0 30px 0;
  position: relative;
}

.card-box-white .header-left-common-div {
  margin: 0 0 20px 0;
}

.card-box-white h5 {
  color: #fff;
  margin: 0 0 10px 0;
}

.card-box-white h3 {
  color: #fff;
}

.card-box-white p {
  color: #fff;
}

/* why-choose-section */
.why-choose-section {
  padding: 0;
  margin: 0;
  position: relative;
}

.why-choose-section .why-choose-div {
  padding: 50px 0 50px 0;
  margin: 0;
}

.video-content-section {
  padding: 0;
  margin: 0;
  position: relative;
}

.video-content-section .video-content-div {
  padding: 50px 0 80px 0;
  margin: 0;
}

.video-play-div {
  padding: 0;
  margin: 0;
  position: relative;
}

.video-play-div .video-img-div {
  padding: 0;
  margin: 0;
}

.video-play-div .img-video {
  height: 380px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 4px;
  width: 100%;
}

.video-play-div .center-video-btn {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 100%;
}

.slider-mobile-section {
  padding: 0;
  margin: 0;
  position: relative;
  background-color: #2F5BEA;
}

.slider-mobile-section .slider-mobile-div {
  padding: 50px 0 0px 0;
  margin: 0;
  min-height: 550px;
}

.slider-owl-div {
  padding: 0px 0 0 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider-owl-div .owl-app {
  margin: 0 0 -120px 0;
  padding: 0 0 0 0;
}

.slider-owl-div .app-box-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.slider-owl-div .app-box-div .app-thumb {
  z-index: 3;
}

.slider-owl-div .app-box-div .app-thumb .app-img {
  max-height: 600px;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.slider-owl-div .app-box-div .app-desc {
  padding: 100px 20px 20px 20px;
  margin: 0;
}

.slider-owl-div .app-box-div .app-desc h4 {
  padding: 0;
  margin: 0 0 10px 0;
  color: #ffffff;
  font-size: 20px;
  line-height: 36px;
  font-weight: 600;
}

.slider-owl-div .app-box-div .app-desc p {
  padding: 0;
  margin: 0;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.slider-owl-div .owl-nav {
  position: absolute;
  top: 20px;
  left: calc(50% + 15px);
  z-index: 2;
}

.slider-owl-div .owl-nav .owl-prev, .slider-owl-div .owl-nav .owl-next {
  outline: none;
}

.slider-owl-div .owl-nav .span-roundcircle {
  height: 48px;
  width: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 100%;
  font-size: 24px;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.slider-owl-div .owl-nav .span-roundcircle .material-icons {
  color: #fff;
}

.slider-owl-div .owl-nav .span-roundcircle:hover, .slider-owl-div .owl-nav .span-roundcircle:focus, .slider-owl-div .owl-nav .span-roundcircle:active {
  background-color: #fff;
  outline: none;
}

.slider-owl-div .owl-nav .span-roundcircle:hover .material-icons, .slider-owl-div .owl-nav .span-roundcircle:focus .material-icons, .slider-owl-div .owl-nav .span-roundcircle:active .material-icons {
  color: #2F5BEA;
}

.slider-owl-div .owl-nav .left-roundcircle {
  margin-right: 15px;
}

.slider-owl-div .owl-nav .left-arrow-icon {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.app-box-div .owl-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 0;
  right: -90px;
  min-height: 325px;
}

.app-box-div span.span-roundcircle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  width: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
  color: #0C406B;
  font-size: 21px;
  -webkit-box-shadow: 0 3px 6px 0 rgba(44, 123, 229, 0.1);
          box-shadow: 0 3px 6px 0 rgba(44, 123, 229, 0.1);
  border-radius: 100px;
  margin: 0 0 0px 0;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.app-box-div .owl-carousel .owl-nav button.owl-next:focus, .app-box-div .owl-carousel .owl-nav button.owl-prev:focus, .app-box-div .owl-carousel button.owl-dot:focus {
  outline: none !important;
}

.app-box-div .owl-prev {
  margin: 0 0 20px 0;
}

.app-box-div button {
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.app-box-div button.disabled {
  opacity: 0.7;
}

.app-box-div button:focus {
  outline: 0px dotted !important;
  outline: 0px auto -webkit-focus-ring-color !important;
}

.app-box-div button:hover span.span-roundcircle, .app-box-div button:focus span.span-roundcircle {
  -webkit-box-shadow: 0 0px 10px 0 rgba(44, 123, 229, 0.2);
          box-shadow: 0 0px 10px 0 rgba(44, 123, 229, 0.2);
}

.flow-section {
  padding: 0;
  margin: 0;
  position: relative;
}

.flow-section .flow-div {
  padding: 180px 0 50px 0;
  margin: 0;
}

.pricing-section {
  padding: 0;
  margin: 0;
  position: relative;
}

.pricing-section .pricing-div {
  padding: 50px 80px 70px 80px;
  margin: 0;
}

.pricing-card-box {
  padding: 0;
  margin: 0 0px 30px 0px;
  position: relative;
  border: 1px solid #DDDDDD;
  border-radius: 8px;
}

.pricing-card-box h4 {
  padding: 0;
  margin: 0 0 15px 0;
  color: #222222;
  font-size: 20px;
  line-height: 36px;
  font-weight: 600;
}

.pricing-card-box .pricing-number {
  padding: 0;
  margin: 5px 0 0 0;
  color: #2F5BEA;
  font-size: 36px;
  font-weight: 400;
}

.pricing-card-box p {
  padding: 0;
  margin: 0;
  color: #666666;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.pricing-card-box .strike-span {
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  text-decoration: line-through;
  color: #666;
}

.pricing-card-box .content-div {
  padding: 20px;
  margin: 0;
  text-align: center;
}

.pricing-card-box .details-plan-div {
  padding: 60px 0 0 0;
  margin: 0 0 0px 0;
  min-height: 180px;
}

.pricing-card-box .button-row-plan {
  padding: 20px 20px 30px 20px;
  margin: 0 0 0px 0;
}

.pricing-card-box.free-pricing-card-box {
  background-color: #2F5BEA;
  border-color: #2F5BEA;
}

.pricing-card-box.free-pricing-card-box h4 {
  color: #fff;
  margin: 0 0 35px 0;
}

.pricing-card-box.free-pricing-card-box .pricing-number {
  color: #fff;
}

.pricing-card-box.free-pricing-card-box p {
  color: #fff;
}

.btn.btn-get-started {
  padding: 0;
  margin: 0 auto;
  color: #2F5BEA;
  background-color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 48px;
  font-size: 14px;
  font-weight: 600;
  width: 100%;
  border-radius: 8px;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.btn.btn-get-started:hover, .btn.btn-get-started:focus, .btn.btn-get-started:active {
  background-color: #fff;
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.05);
          box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.05);
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.try-for-free-section {
  padding: 0;
  margin: 0;
  position: relative;
  background-color: #2F5BEA;
}

.try-for-free-section .try-for-free-div {
  padding: 100px 0 100px 0;
  margin: 0;
  background: url(../images/mix-shape.svg) no-repeat;
  background-size: contain;
}

.header-white-div h3 {
  margin: 0 0 40px 0;
  color: #fff;
  font-size: 30px;
  letter-spacing: 0.5px;
}

.header-white-div p {
  padding: 0;
  margin: 0 0 20px 0;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}

.get-input-free-group .form-control {
  min-height: 75px;
  font-size: 18px;
  color: #7E8085;
  padding: 10px 25px;
  border: 1px solid #fff;
  border-right: 1px solid #E7EAEE;
  border-radius: 5px;
}

.get-input-free-group .form-control:hover, .get-input-free-group .form-control:focus, .get-input-free-group .form-control:active {
  border-color: #E7EAEE !important;
}

.get-input-free-group .btn-get-started-big {
  padding: 0;
  margin: 0;
  border: none;
}

.btn.btn-get-started-big {
  padding: 10px;
  margin: 0 auto;
  color: #2F5BEA;
  background-color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 48px;
  font-size: 16px;
  font-weight: 600;
  width: 100%;
  border-radius: 0px 5px 5px 0px;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  min-width: 180px;
  text-align: center;
  text-transform: uppercase;
}

.btn.btn-get-started-big:hover, .btn.btn-get-started-big:focus, .btn.btn-get-started-big:active {
  background-color: #2b52d2;
  color: #fff;
}

.no-credit-div {
  padding: 0;
  margin: 10px 0 0 0;
}

.no-credit-div p {
  color: #D2D2D2;
  font-weight: 400;
  font-size: 14px;
}

.app-mobile-section {
  padding: 0;
  margin: 0;
  position: relative;
}

.app-mobile-section .app-mobile-div {
  padding: 70px 0 40px 0;
  margin: 0;
}

.app-mobile-card-box .header-left-common-div h3 {
  margin: 0 0 15px 0;
}

.app-mobile-card-box .store-icon-div {
  padding: 20px 0 0 0;
}

.app-mobile-card-box .store-icon-div .img-store-icon {
  height: 50px;
}

.round-mobile-div {
  padding: 0;
  margin: 0;
  position: relative;
}

.round-mobile-div .center-app-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.round-mobile-div .center-app-div::before {
  content: "";
  background-color: #2F5BEA;
  height: 360px;
  width: 360px;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  z-index: 2;
  margin: 0 auto;
  text-align: center;
}

.round-mobile-div .img-app {
  width: 100%;
  max-height: 600px;
  -o-object-fit: contain;
     object-fit: contain;
  z-index: 3;
}

.footer-app-icon-div .img-store-icon {
  height: 40px;
}

.mr-8px {
  margin-right: 8px !important;
}

.footer-root {
  padding: 0;
  margin: 0;
  background-color: #E0E6FC;
}

.footer-root .footer-div {
  padding: 55px 0 35px 0;
  margin: 0;
  position: relative;
}

.footer-root .footer-div h4 {
  color: #222222;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin: 0 0 20px 0;
}

.footer-root .footer-div .footer-title2 h4 {
  color: #666666;
}

.footer-root .footer-div .footer-ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-root .footer-div .footer-ul li {
  padding: 0;
  margin: 0 0 0 0px;
}

.footer-root .footer-div .footer-ul li.active a.link-footer {
  color: #2a42e1;
}

.footer-root .footer-div .footer-ul a.link-footer {
  color: #666;
  padding: 0px 0px 5px 0;
  font-weight: 400;
  border-bottom: 1px solid transparent;
  font-size: 16px;
  line-height: 24px;
  display: inline-block;
}

.footer-root .footer-div .footer-ul a.link-footer:hover, .footer-root .footer-div .footer-ul a.link-footer:focus {
  color: #2a42e1;
}

.footer-root .footer-bottom {
  padding: 25px 0 40px 0;
  margin: 0;
  border-top: 1px solid rgba(103, 114, 148, 0.1);
}

.footer-root .footer-bottom p {
  padding: 0;
  margin: 0;
  font-weight: 400;
  color: #222222;
  font-size: 13px;
  line-height: 24px;
}

.footer-root .footer-bottom .link-a {
  color: #222222;
}

.footer-root .footer-bottom .link-a:hover, .footer-root .footer-bottom .link-a:focus {
  color: #2a42e1;
}

.footer-root .footer-bottom .footer-bottom-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footer-root .footer-bottom .footer-bottom-right .btn-round-link {
  padding: 0;
  margin: 0;
  background-color: #51545E;
  height: 26px;
  width: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #e0e6fc;
  border-radius: 100%;
  font-size: 13px;
}

.footer-root .footer-bottom .footer-bottom-right .btn-round-link:hover, .footer-root .footer-bottom .footer-bottom-right .btn-round-link:focus {
  background-color: #fff;
  color: #2a42e1;
}

@media (max-width: 767px) {
  .header-root .header-div .logo-div {
    padding: 0;
  }
  .header-root .header-div .logo_img {
    width: 50px;
  }
  .btn.white-btn {
    padding: 10px 20px 8px 20px;
    min-height: auto;
    border-radius: 100px;
    font-size: 16px;
    line-height: 28px;
  }
  .banner-section .banner-div {
    background-size: contain;
    background-position: bottom;
    background-position: 0px calc(100% - -1px);
  }
  .banner-section .banner-div .height-100 {
    height: 100%;
    min-height: auto;
    padding: 0;
  }
  .banner-section .banner-div .content-banner {
    padding: 100px 0 50px 0;
  }
  .banner-section .banner-div .content-banner .text-content {
    padding: 0 15px;
  }
  .banner-section .banner-div .content-banner h1 {
    font-size: 36px;
    line-height: 48px;
    margin: 0 0 5px 0;
    padding: 10px 0 0px 0 !important;
  }
  .banner-section .banner-div .content-banner h4 {
    margin: 0 0 30px 0;
    font-size: 18px;
    line-height: 26px;
  }
  .banner-section .banner-div .content-banner p {
    margin: 0 0 30px 0;
    font-size: 14px;
    line-height: 24px;
  }
  .banner-section .banner-div .content-banner .img-store-icon {
    height: auto;
    width: 125px;
  }
  .banner-section .banner-div .content-banner .btn.btn-store.mr-30 {
    margin-right: 10px;
  }
  .banner-section .banner-div .side-img-banner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .banner-section .banner-div .side-img-banner .img-app {
    max-width: 290px;
    margin: 0 auto;
    white-space: 100%;
    -o-object-fit: contain;
       object-fit: contain;
    -o-object-position: bottom;
       object-position: bottom;
  }
  .header-common-div.minus-t-100 {
    margin: 0 0 40px 0 !important;
  }
  .card-box {
    margin: 0 0 40px 0;
  }
  .btn-video-round {
    height: 70px;
    width: 70px;
  }
  .why-choose-section .why-choose-div {
    padding: 50px 0 20px 0;
  }
  .video-content-section .video-content-div {
    padding: 30px 0 50px 0;
  }
  /* heading */
  .header-common-div h5 {
    margin: 0 0 10px 0;
    font-size: 14px;
  }
  .header-common-div h3 {
    font-size: 20px;
    line-height: 28px;
  }
  /* End of heading */
  .why-choose-section .why-choose-div .card-box {
    text-align: center;
    margin: 0 0 50px 0;
  }
  .slider-owl-div .app-box-div .app-thumb .app-img {
    max-height: none;
    max-width: calc(100% - 50px);
    width: 100%;
  }
  .slider-owl-div .app-box-div .app-desc {
    padding: 30px 20px 20px 20px;
  }
  .slider-owl-div .owl-app {
    margin: 0 0 50px 0;
  }
  .slider-owl-div .owl-nav {
    top: 30px;
    left: auto;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .slider-owl-div .owl-nav .left-roundcircle {
    margin: 0 0 15px 0;
  }
  .flow-section .flow-div {
    padding: 80px 0 0px 0;
    border-bottom: 1px solid #eee;
  }
  .flow-section .flow-div .card-box {
    margin: 0 0 50px 0;
    text-align: center;
  }
  .pricing-section .pricing-div {
    padding: 50px 0px 70px 0px;
  }
  .round-mobile-div .center-app-div::before {
    height: 290px;
    width: 100%;
    max-width: 290px;
  }
  .round-mobile-div .img-app {
    width: 100%;
    max-height: 400px;
  }
  .pricing-card-box .details-plan-div {
    min-height: auto;
  }
  .get-input-free-group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .get-input-free-group .form-control {
    min-height: 65px;
    font-size: 16px;
    padding: 10px 15px;
    border-radius: 5px !important;
    width: 100%;
    margin: 0 0 10px 0;
  }
  .get-input-free-group .btn.btn-get-started-big {
    border-radius: 5px !important;
  }
  .app-mobile-card-box .store-icon-div .img-store-icon {
    height: 40px;
  }
  .store-icon-div.footer-app-icon-div {
    margin: 0 0 30px 0;
  }
  .footer-list-root {
    margin: 0 0 30px 0;
  }
  .footer-root .footer-div h4 {
    font-size: 14px;
    line-height: 24px;
    margin: 0 0 10px 0;
  }
  .footer-root .footer-div .footer-ul a.link-footer {
    font-size: 12px;
    line-height: 20px;
  }
  .footer-root .span-block {
    display: block;
  }
  .footer-root .span-block .v-none {
    display: none;
  }
  .footer-root .footer-bottom .footer-bottom-right {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin: 15px 0 0 0;
  }
  header .header-div .ullist-inline li .nav-link {
    color: #0033CB !important;
  }
  .header-root .header-div .nav-link.btn-white-rounded {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 15px 0 0 0;
    border: 1px solid #0033CB;
  }
  .header-root .header-div .nav-link.btn-white-rounded:hover, .header-root .header-div .nav-link.btn-white-rounded:focus, .header-root .header-div .nav-link.btn-white-rounded:active {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  header .header-div .nav {
    padding: 0 15px;
  }
  header .header-div .ullist-inline li .nav-link {
    text-align: center;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .header-root .header-div .logo-div {
    padding: 0;
  }
  .header-root .header-div .logo_img {
    width: 70px;
  }
  .btn.white-btn {
    padding: 10px 20px 8px 20px;
    min-height: auto;
    border-radius: 100px;
    font-size: 16px;
    line-height: 28px;
  }
  .banner-section .banner-div {
    background-size: contain;
    background-position: 3px calc(101% - -1px);
  }
  .banner-section .banner-div .content-banner .text-content {
    padding: 0 15px;
  }
  .banner-section .banner-div .content-banner h1 {
    font-size: 42px;
    line-height: 48px;
    margin: 0 0 5px 0;
    padding: 10px 0 0px 0 !important;
  }
  .banner-section .banner-div .content-banner h4 {
    margin: 0 0 30px 0;
    font-size: 20px;
    line-height: 26px;
  }
  .banner-section .banner-div .content-banner p {
    margin: 0 0 30px 0;
    font-size: 16px;
    line-height: 24px;
  }
  .banner-section .banner-div .content-banner .img-store-icon {
    height: auto;
    width: 125px;
  }
  .banner-section .banner-div .content-banner .btn.btn-store.mr-30 {
    margin-right: 10px;
  }
  .banner-section .banner-div .side-img-banner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .banner-section .banner-div .side-img-banner .img-app {
    max-width: 350px;
    margin: 0 auto;
  }
  .header-common-div.minus-t-100 {
    margin: 0 0 40px 0 !important;
  }
  .card-box {
    margin: 0 0 50px 0;
  }
  .btn-video-round {
    height: 70px;
    width: 70px;
  }
  .header-left-common-div h3 {
    font-size: 20px;
    line-height: 28px;
  }
  .slider-owl-div .app-box-div .app-desc h4 {
    font-size: 18px;
    line-height: 30px;
  }
  .slider-owl-div .owl-app {
    margin: 0;
  }
  .flow-section .flow-div {
    padding: 70px 0 10px 0;
  }
  .pricing-section .pricing-div {
    padding: 50px 0px 70px 0px;
  }
  .pricing-card-box h4 {
    font-size: 18px;
    line-height: 28px;
  }
  .footer-root .footer-div h4 {
    font-size: 14px;
    line-height: 24px;
    margin: 0 0 10px 0;
  }
  .footer-root .footer-div .footer-ul a.link-footer {
    font-size: 12px;
    line-height: 20px;
  }
  .footer-root .span-block {
    display: block;
  }
  .footer-root .span-block .v-none {
    display: none;
  }
  .footer-root .footer-bottom .footer-bottom-right {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin: 0px 0 0 0;
  }
  header .header-div .ullist-inline li .nav-link {
    color: #0033CB !important;
  }
  .header-root .header-div .nav-link.btn-white-rounded {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 15px 0 0 0;
    border: 1px solid #0033CB;
  }
  .header-root .header-div .nav-link.btn-white-rounded:hover, .header-root .header-div .nav-link.btn-white-rounded:focus, .header-root .header-div .nav-link.btn-white-rounded:active {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  header .header-div .nav {
    padding: 0 15px;
  }
  header .header-div .ullist-inline li .nav-link {
    text-align: center;
  }
}
/*# sourceMappingURL=common.css.map */