@charset "utf-8";
@import url(bootstrap.min.css);
@import url(animate.min.css);
@import url(waves.css);
@import url(owl.carousel.min.css);
@import url(feather.min.css);
@import url(select-custom.css);
@import url(select2.min.css);
@import url(datepicker-b4.min.css);

@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i&display=swap');

/* colors */

$transparent-color: transparent;

$white-color: rgb(255, 255, 255);
$light-white-color: rgba(255, 255, 255, 0.6);
$light-white-color2: rgba(255, 255, 255, 0.5);

$black-color:rgba(0, 0, 0, 1);
$lightblack-color:rgba(0, 0, 0, 0.4);

$link-hover:#4d089a;

$blue-color: #2a42e1;
$lightblue-color: rgba(39, 164, 248, 0.5);
$lightblue-color2: rgba(39, 164, 248, 0.3);

$darkblue-color: #0C406B;

$color1: #979797;
$light-color1: rgba(60, 69, 76, 0.5);

$primary-color:#275C89;

$sub-color1:#6E84A3;
$sub-color2:#285B89;
$sub-color3:#D9EFFF;
$sub-color4:#222D39;

/* End of colors */

// helper class

.pad-0 {padding-bottom: 0 !important;}

@mixin btn-round-lg {
    background: #2A42E1;
    border: 1px solid #642BDE;
    border-radius: 100px;
    font-size: 24px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    line-height: 44px;
    width: 100%;
    min-height: 58px;
    display: inline-block;
    transition: all 0.6s ease-in-out;
    &:hover, &:focus {
        box-shadow: 0 5px 25px 5px rgba(42, 66, 225, 0.3);
    }  
}

@mixin btn-round-lg-white {
    background: #2A42E1;
    border: 1 solid #642BDE;
    border-radius: 29px;
    font-size: 24px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    line-height: 44px;
    width: 100%;
    min-height: 58px;
    display: inline-block;
    transition: all 0.3s ease-in-out;
    &:hover {
        background-color: #642BDE;
        transition: all 0.3s ease-in-out;
    }  
}

@mixin btn-primary {
    background: #2A42E1;
    border: 1px solid #642BDE;
    border-radius: 4px;
    padding: 10px 30px;
    min-height: 52px;
    font-weight: 700;
    font-size: 22px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;   
}

@mixin btn-icon-link {
font-weight: 400;
font-size: 24px;
background-color: transparent;
color: #727272;
letter-spacing: 0;
line-height: 44px;
width: auto;
min-height: 58px;
display: inline-block;
transition: all 0.3s ease-in-out;
}

@mixin btn-icon-link-hover{
    color: #2A42E1;
}

.custom-checkbox {
    display: flex;
    align-items: center;
    label {
    font-size: 18px;
    color: #424242;
    letter-spacing: 0;
    padding-left: 5px;
    }

    .custom-control-label::after {
        position: absolute;
        top: 2px;
        left: -2px;
        display: block;
        width: 22px;
        height: 22px;
        content: "";
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 50% 50%;
    }

    .custom-control-label::before {
        height: 18px;
        width: 18px;
        border-radius: 0;
    }
    .custom-control-input:checked~.custom-control-label::before {
        height: 18px;
        width: 18px;
        border-radius: 0;
    }
    .custom-checkbox .custom-control-input:checked~.custom-control-label::before{
        background-color: #2A42E1;
    }
}


/* default css */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; vertical-align: baseline; }
*, *:before, *:after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; -webkit-overflow-scrolling: touch; }
html { text-rendering: optimizeLegibility; -webkit-text-size-adjust: 100%; -moz-text-size-adjust: 100%; -ms-text-size-adjust: 100%; text-size-adjust: 100%; scroll-behavior: smooth; }
body { font-size: 14px; -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: 100%; background-color: #FAFBFD; font-family: 'Roboto', sans-serif !important; scroll-behavior: smooth; }

.wrapper { background-color: $white-color; display: block; height: 100%; }
.wrapper .btn.focus, .wrapper .btn:focus { outline: none; box-shadow:none; }
.wrapper .btn{ transition: all 0.3s ease-in-out; }

.container { max-width: 1140px; }
.container-1000{ max-width: 1000px; }
.container-lg{ max-width: 1280px; }
.page-link:focus { box-shadow: none; }

/* End of default css */

/*  general css */

.white-color{ fill: $white-color; }

.top-minues10{ margin-top: -10px !important; }
.ml-10{ margin-left: 10px !important; }
.mt-10{ margin-top: 10px !important; }
.mr-10{ margin-right: 10px; }
.p0{ padding: 0px !important; }

/*  */

a { color: #2A42E1; &:hover{ color: #2F5BEA; } }
h2{ padding: 0; margin: 0 0 10px 0; color: $darkblue-color; font-size: 40px; font-weight: 600; line-height: 60px;  }
p{ padding: 0; margin: 0 0 15px 0; width: 100%; font-size: 16px; font-weight: 500; line-height: 30px; color: $sub-color1; }
.position-initial{ position: initial; }

.prag-breack{
    .span-block{
        margin: 0 0 15px 0; display: block;
    }
}

.btn.btn-blue{ 
    padding: 0 20px; margin: 0; border: 1px solid $blue-color; background-color: $blue-color; color: $white-color; min-height: 36px; display: flex; align-items: center; justify-content: center; font-weight: 700; font-size: 14px; border-radius: 0px; transition: all 0.8s; line-height: 24px; 
    &:hover, &:focus{ 
        border: 1px solid $darkblue-color; background-color: $darkblue-color; box-shadow: 0 3px 10px 0 rgba(12, 64, 107, 0.3); transform: translateY(-2px);
    }
}

.btn-link { padding: 0; margin: 0; width: 100%; font-size: 20px;font-weight: 500; line-height: 30px; color: $blue-color; position: relative; transition: 0.8s;
    // &::after{ content: ""; position: absolute; width: 40px; height: 1px; background-color: $blue-color; bottom: -2px; left: 0;  transition: 0.8s; }

    &:hover, &:focus {
        color:$link-hover;
        &::after{ background-color: $darkblue-color; width: 100%; }
    }

}

.btn-common {
    @include btn-round-lg();
    font-weight: 600;
}

.btn-common-icon-link {
    @include btn-icon-link();
    i.fe {
        padding: 0 30px 0 0;
    }   
    &:hover{
        @include btn-icon-link-hover();
    }
}

.max3-lines{ display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 3; overflow: hidden; }

.return-to-top { 
    position: fixed; bottom: 25px; right: 25px; background: $blue-color; width: 50px; height: 50px; text-decoration: none; -webkit-border-radius: 35px; -moz-border-radius: 35px; border-radius: 35px; display: none; -webkit-transition: all 0.3s linear; -moz-transition: all 0.3s ease; -ms-transition: all 0.3s ease; -o-transition: all 0.3s ease; transition: all 0.3s ease; z-index: 999; 
    i { color: $white-color; margin: 0; position: relative; left: auto; width: 100%; height: 100%; display: flex; justify-content: center; align-items: center; font-size: initial; -webkit-transition: all 0.3s ease; transition: all 0.3s ease; }
       &:hover { 
        background: $darkblue-color;
        i { color: $white-color; }
    }
    
}   

.display_show{ display: block; }
.position-fixed{ position: unset !important; overflow: hidden; }

/* add svg icons */

.right-arrowicon{  -webkit-mask: url(../images/icons/arrow-right.svg) no-repeat 50% 50%; mask: url(../images/icons/arrow-right.svg) no-repeat 50% 50%; -webkit-mask-size: contain;  display: inline-block;  vertical-align: middle;  mask-size: cover; width: 24px; height: 18px;  color: rgba(110, 132, 163, 0.5);  fill: rgba(110, 132, 163, 0.5);  background-color: rgba(110, 132, 163, 0.5); margin: 0 0 0 10px; }


/* select2 */

.select2-container .select2-dropdown { margin-top: -10px; }

.select-box{  position: relative; display: flex; align-items: center;  }
.form-control.select-control { border: 1px solid $sub-color3; border-radius: 0px; min-height: 50px; color: $color1; padding: 0 20px; font-size: 18px; font-weight: 400; width: 100%; -webkit-appearance: none; background: $sub-color2; position: relative; }
.form-control.select-control:focus{ outline: none; box-shadow:none; }

.select-custom2{ 
    span.select2-selection.select2-selection--single { border: 1px solid #DFEAF1 !important; border-radius: 0px; min-height: 50px; color: #3C454C; padding: 10px 10px; font-size: 18px; font-weight: 400; width: 100%; -webkit-appearance: none; background: #FAFCFD; position: relative; }
    .select2.select2-container .select2-selection .select2-selection__arrow { -webkit-border-radius: 0 0px 0px 0; -moz-border-radius: 0 0px 0px 0; border-radius: 
        0 0px 0px 0; height: 47px; width: 37px; background-color: transparent; border: none; }
        .select2-container--default .select2-selection--single .select2-selection__arrow b{ border: none; top: 18px; left: 10px;     font-family: Feather!important;
            speak: none;
            font-style: normal;
            font-weight: 400;
            font-variant: normal;
            text-transform: none;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
            &::before{    content: '\e92e';}        
    }
}
.select2-container .select2-dropdown .select2-search input { outline: none; border: 1px solid #DFEAF1; border-bottom: none; padding: 10px 10px; }
.select2-container .select2-dropdown .select2-results ul { background: #fff; border: 1px solid #DFEAF1; }
.select2-container .select2-dropdown .select2-results ul .select2-results__option--highlighted[aria-selected] { background-color: $blue-color; }
.select2-results__option { padding: 10px; }
 
/* single select */

.selectbox-inline{ position: relative; 
    .select-custom2{ 
        span.select2-selection.select2-selection--single { border: 1px solid transparent !important; border-radius: 0px; min-height: 40px; color: #3C454C; padding: 10px 10px; font-size: 18px; font-weight: 400; width: auto; -webkit-appearance: none; background: transparent; position: relative; border-radius: 10px; }
        .select2.select2-container .select2-selection .select2-selection__arrow { -webkit-border-radius: 0 0px 0px 0; -moz-border-radius: 0 0px 0px 0; border-radius: 
            0 0px 0px 0; height: 47px; width: 37px; background-color: transparent; border: none; }
        // .select2-container--default .select2-selection--single .select2-selection__arrow b{     border: none; top: 15px; left: 10px;
        //    //  &::before{ content: ""; -webkit-mask: url(../images/icon/keyboard_arrow_up.svg) no-repeat 50% 50%; mask: url(../images/icon/keyboard_arrow_up.svg) no-repeat 50% 50%; -webkit-mask-size: cover; display: inline-block; vertical-align: middle; mask-size: cover; text-align: center; width: 24px; height: 24px; background-color: $lightblack-color; transform: rotate(180deg);  }        
        // }    
        &.select-common{
            span.select2-selection.select2-selection--single {
                border: 1px solid #C7C7C7 !important;
                height: 58px;
                background-color: transparent;
                border-radius: 0;
                font-size: 20px;
                font-weight: 300;
                padding: 12px 15px;
            }
        } 
    }
}

.max-input-div{ position: relative;
    .select-box.select-custom2 { 
        position: absolute;left: 1px; top: 1px;background-color: #fafbfd; width: 105px;     border-right: 1px solid #C7C7C7; min-height: 56px;
    }
    .form-control{
        padding-left: 125px !important; padding-right: 90px !important;
    }
    .btn-link { line-height: 34px; position: absolute; top: 1px; right: 1px; width: auto; padding: 10px 15px; min-height: 57px; display: flex; }
}

/* End of select **/

/* end of select2 */

.form-control {
    padding:10px 25px; font-size: 20px; color: #727272;
    &::-webkit-input-placeholder { color: #727272;}
    &::-moz-placeholder { color: #727272;}
    &:-ms-input-placeholder { color: #727272;}
    &:-moz-placeholder { color: #727272;}
    &:focus{
        border-color: #2a42e1 !important; color: #181818;
    }
    &:disabled{
        background-color: #F2F2F2 !important;
        border: 1px solid #C7C7C7 !important;
        color: #424242 !important;
        font-weight: 400 !important;
        cursor: not-allowed;
    }
}

.radio-common{
    .custom-radio{ margin-right: 3rem; min-height: 20px; line-height: 24px;     padding-left: 1.7rem; }
    .custom-radio .custom-control-input:checked~.custom-control-label::after {
        background-image: none; background-color: #2A42E1; border-radius: 100%; height: 12px; width: 12px; border: 2px solid #D7D7D7; top: 6px; left: 2px;
    }
    .custom-radio .custom-control-input:checked~.custom-control-label::before {
        background-color: rgba(199, 199, 199, 0.8);  border: 1px solid rgba(114, 114, 114, 0.4);
    }
    label.custom-control-label { 
        margin-bottom: 0px !important; font-weight: 400 !important; font-size: 14px !important; color: #727272 !important; letter-spacing: 0;
        &::after {
            background-color: rgba(199, 199, 199, 0.80);
            border: 1px solid rgba(114, 114, 114, 0.4);
            border-radius: 100%;
        }
    }    
}

.form-group.form-group-112 {
    min-height: 112px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

/* drag & drop */

.upload-dropbox-file{
    .drag-drop-center{ display: flex; justify-content: center; align-items: center; height: 100%;
        form.dropzone { 
            max-width: 100%; width: 100%; min-height: 400px; overflow-y: auto;  overflow-x: hidden;  width: 100%; background: #f5f7fb; box-shadow: none; border-radius: 0px; border: none; 
            &::-webkit-scrollbar { width: 5px; height: 5px; }
            &::-webkit-scrollbar-track { background-color: rgba(0,0,0,0.1); border-radius: 24px 24px; }
            &::-webkit-scrollbar-thumb { background-color: rgba(255,255,255,0.8); background-image: linear-gradient(45deg, #014AEA, #0281F6); border-radius: 5px; }
            &::-webkit-scrollbar-corner { }
            
            .dz-preview .dz-details .dz-filename:not(:hover) span { border: 1px solid transparent; background-color: transparent; }
            .dz-preview { background: #ffffff; width: 100%; min-height: 60px; max-height: 60px; padding: 0; display: flex; align-items: center; margin: 0 0 15px 0 !important;    border: none; }
            .dz-image { display: none; height: 60px !important; width: 60px !important; border-radius: 0px !important; background-color: #eee !important; }
            a.dz-remove { 
                position: absolute; top: 0; right: 10px; z-index: 33; color: $blue-color !important; background-color: transparent !important; background: none !important; height: 60px; vertical-align: top; display: flex; align-items: center; justify-content: center; margin: 0; font-size: 24px; cursor: pointer;
                i{ cursor: pointer; }
                &:hover{ text-decoration: none; }
            }
            .dz-preview .dz-details {     background-color: transparent; width: 100% !important; text-align: left; margin: 0px 0 0 0 !important; padding: 0 10px !important; height: 100% !important; display: flex; min-height: 30px; vertical-align: top; opacity: 1; }
            .dz-preview .dz-details .dz-size{    bottom: 5px; padding: 0 13px;margin-bottom: 0;  }
            .center-text-zone { padding: 70px 0 80px 0; }
            .dz-preview .dz-details .dz-filename { padding-top: 10px; }

        }
        .dropzone-100 { 
            width: 100%; margin: 0 auto; display: flex; justify-content: center; 
            span.note.needsclick{ font-size: 14px; color: $sub-color2; font-weight: 300; text-align: center; line-height: 30px;  }
            
        }

        .dropzone .dz-preview .dz-success-mark, .dropzone-previews .dz-preview .dz-success-mark{ display: none !important; }
        .dropzone .dz-preview.dz-error .dz-error-mark, .dropzone-previews .dz-preview.dz-error .dz-error-mark { display: none !important; }
    }
}

.center-text-zone{
    h5 {
        font-weight: 400; font-size: 20px; color: #424242; letter-spacing: 0; text-align: center; line-height: 26px; margin: 0 0 5px 0; padding: 0;
    }
    p {
        font-weight: 400; font-size: 16px; color: #727272; letter-spacing: 0; text-align: center; line-height: 26px; margin: 0 0 5px 0; padding: 0;
    }
    .btn.btn-white-upload { 
        margin: 30px auto 0 auto; background: #FAFAFA; border: 1px #C7C7C7; border-style: dashed; padding: 12px 40px 8px 20px; border-radius: 0px; font-weight: 300; font-size: 20px; color: #727272; letter-spacing: 0; min-height: 58px; display: flex; align-items: center; justify-content: center; max-width: 275px;
        .fe{ margin: 0 20px 0 0; color: #000000; }
    }
}

/* End of drag & drop */



/*  End of general css */

.heading-div{ 
    padding: 0; margin: 0; position: relative; 
    h2{  
        padding: 0; margin: 0 0 35px 0; color: $primary-color; font-size: 40px; font-weight: 600; line-height: 60px; text-align: center;
        span{ display: block; }
    }
    p{ padding: 0; margin: 0 0 0px 0; width: 100%; text-align: center; font-size: 18px; font-weight: 300; line-height: 1.5; color: $light-color1; }
}

.heading-left-div{
    padding: 0; margin: 0; position: relative; 
    h2{  
        margin: 0 0 5px 0; 
        span{ display: block; }
    }
    p{ margin: 0 0 10px 0; }
}

/* header */

header{
    position: relative;

    .header-div.scrollUp { transform: translateY(-100px); background-color: #2A42E1; }

    .fixed_top.header-div{

        .top-nav1 { padding: 10px 0 20px 0; }
        .ullist-inline li .nav-link{ color: #00A685; }
        .scroll-logo{ display: block; }
        
    }
    
    // header started 14-feb-2020

    .header-div { 

        padding: 0; margin: 0; background-color: #2A42E1; position: absolute; z-index: 9999; width: 100%; min-height: 80px;  transition: all 0.5s;

        .logo-div { padding: 0px 0px 0px 0px; margin: 0; display: flex; float: left; width: 20%; align-items: center; min-height: 80px; }
        .nav-center-div{ padding: 15px 0px 15px 0px; margin: 0; display: flex; float: left; width: 80%; align-items: center; justify-content: flex-end; min-height: 80px; }
        
        .main-logo{ display: block; }
        .logo_img{ transition: display ease-in-out 0.5s; width: 213px; }
        
        /* start navigation  **/

        .top-nav1 { display: flex; justify-content: flex-end; align-items: center; padding: 0px 0 0 0; width: 100%;  }
        .inner-top-header-div{ padding: 0;margin: 0; }
        .inner-top-header-div.top-nav1 { padding: 0; margin: 0; float: right; }

        .cd-shadow-layer { position: fixed; min-height: 100%; width: 100%; top: 0; left: 0; background: $lightblue-color2; cursor: pointer; z-index: 99999; display: none; }
        .cd-shadow-layer.is-visible { display: block; -webkit-animation: cd-fade-in 0.3s; -moz-animation: cd-fade-in 0.3s; animation: cd-fade-in 0.3s; }

        .display-none{ display: none !important;}
        .nav-div .closebtn { display: none; }

        .ullist-inline { 
            padding: 0 0 2px 0; margin: 0px 0px 0 0; display: flex; align-items: center; min-height: 45px; 
                
            li{ padding: 0;margin: 0 35px 0 0;display: inline-block;text-transform: capitalize;font-size: 14px; }
            li.nav-item.dropdown.btn-user-dropdown { margin: 0; }
            li:last-child{ margin: 0 35px 0 0; }
            li .nav-link { color: $white-color; padding: 10px 0px 3px 0; font-weight: 400; border-bottom: 1px solid transparent; text-transform: uppercase; font-size: 16px; line-height: 1.5; }
            li .nav-link { position: relative; display: inline-block; overflow: hidden; }
            li .nav-link:before { left: 0px; bottom: 0; width: 100%; height: 1px; background: $white-color; transform: translateX(-101%); }
            li .nav-link:hover:before { transform: translateX(0); }
            li .nav-link:before, li .nav-link:after, li .nav-link > span:before, li .nav-link > span:after { content: ''; position: absolute; transition: transform .5s ease; }
            li .nav-link:hover{ color: $white-color; }
            li.active .nav-link{ color: $white-color; }
            li.active .nav-link:before { left: 0px; bottom: 0; width: 100%; height: 1px; background: $white-color; transform: translateX(0%); }
            li.nav-link.btn-user { 
                height: 48px; width: 47px; display: flex; align-items: center; justify-content: center; background-color: #003E89; margin: -10px 0 0 0; 
                &::before{ display: none; }
            }
            .dropdown-toggle::after{ display: none; }
            .dropdown-menu{ 
                border: 1px solid #DFEAF1;   min-width: 190px; border-radius: 0px; line-height: 24px;
                li{ display: block; width: 100%; 
                    a{ 
                        padding: 6px 15px; width: 100%; display: block; margin: 0 0 0px 0; color: rgba(11, 22, 43, 0.5); font-size: 16px; font-weight: 500; transition: 0.5s;
                        &:hover{ background-color: #F2F7F9; color: #0B162B; }
                    }
                    
                }
            }
            .btn.btn-gradiant2.btn-mycart{ 
                padding: 5px 10px; min-height: 48px; display: flex; align-items: center; justify-content: center; text-transform: capitalize;
                span.count-span { background-color: #003E89; margin: 0 0 0 10px; border-radius: 100%; height: 27px; width: 27px; display: flex; align-items: center; justify-content: center; font-size: 16px; letter-spacing: -1px; }
            }

        }

        .nav-m-bar .menu-bars {display: none;}
        
        /*  End of navigation  */

    }

}

/* End of header */

/* banner */

.authntication-section{  
    padding: 0; margin: 0; position: relative; 
    background-color: #FAFBFD;
    .authntication-inner{ 
        padding: 0; margin: 0; position: relative;  display: flex; align-items: center; overflow: hidden;
        min-height: 100vh; padding-top: 80px;
        &.step-content-inner{
            padding-bottom: 120px;
        }
        .authntication-box-header{     padding: 50px 0 0 0;
            h2 {
                font-size: 32px;
                color: #424242;
                letter-spacing: 0;
                text-align: center;
            }
            p {
                font-size: 16px;
                color: #727272;
                letter-spacing: 0;
                text-align: center;
                a {
                    color: #2A42E1;
                    display: inline; transition: 0.8s all;
                    &:hover {
                        color: $link-hover;
                    }
                }
            }
        }
        .authntication-box{
            background-color: #ffffff;
            box-shadow: 0 2px 54px 0 #F5F6FA;
            min-height: 400px;
            padding: 40px 51px;


            .form-group {
                margin-bottom: 20px;
                label {
                    font-size: 20px;
                    color: #181818;
                    letter-spacing: 0;
                    font-weight: 400;
                    margin-bottom: 15px;
                }
                .form-control {
                    border: 1px solid #C7C7C7;
                    height: 58px;
                    background-color: #ffffff;
                    border-radius: 0;
                }
              
                .input-pin-code-div {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: flex-start;
                    margin-bottom: 20px;
                    .form-control {
                        margin-right: 10px;
                        max-width: 58px;
                        font-size: 30px;
                        padding: 10px;
                        color: #181818;
                        letter-spacing: 0;
                        text-align: center;
                        margin-bottom: 0;
                        background: #F2F2F2;
                        border: 1px solid rgba(114,114,114,0.14);
                        &::-webkit-input-placeholder { color: #727272;}
                        &::-moz-placeholder { color: #727272;}
                        &:-ms-input-placeholder { color: #727272;}
                        &:-moz-placeholder { color: #727272;}
                    }   

                    

                    .dash{
                        background-color: #181818;
                        height: 3px;
                        width: 10px;
                        margin-right: 10px;
                        display: flex;
                        align-items: center;
                    }
                }
            }

            .forgot-password{
                position: relative;
                .left-time {
                    position: absolute;
                    right: 15px;
                    top: 60px;
                    display: inline-block;
                    z-index: 99;
                    color: #E90000;
                    strong {
                        margin-right: 5px;
                    }
                }
                .form-control {
                    padding-right: 130px;
                }
               
            }

            .input-group {
                .form-control {
                    padding-right: 50px;
                }
                .input-group-addon {
                    position: absolute;
                    right: 15px;
                    top: 15px;
                    z-index: 99;
                    a {
                        color: #424242;
                    }
                    i {
                        font-size: 22px;
                    }
                }

            }

            .authentication-btn{
                padding-top: 40px;

                .btn-login {
                    @include btn-round-lg();
                    font-weight: 600;
                }

            }
        }

        .authntication-box-footer {
            padding: 30px 0;
            a {
                display: block;
                text-align: center;
                font-size: 22px;
                color: #2A42E1;
                letter-spacing: 0;
                text-align: center;
                font-weight: 500;
                transition: all 0.6s ease-in-out;
                &:hover{
                    color:$link-hover;
                }
            }
        }


        // registation input

        .registration-box{
            background-color: transparent;
            padding: 20px;

            .form-group {
                margin-bottom: 20px;
                label {
                    font-size: 20px;
                    color: #181818;
                    letter-spacing: 0;
                    font-weight: 400;
                    margin-bottom: 15px;
                }
                .form-control {
                    border: 1px solid #C7C7C7;
                    height: 58px;
                    background-color: transparent;
                    border-radius: 0;  
                    font-size: 20px;
                    font-weight: 300;
                    padding: 10px 25px;                         
                }
            }

            // step1 

            .step-header {
                ul {
                    li{
                        min-width: 25%;
                        display: inline-block; position: relative;
                        a {
                            font-size: 18px;
                            color: #424242;
                            letter-spacing: 0;
                            text-align: center;
                            font-weight: 600;
                            line-height: 21px;
                            padding: 15px 20px;
                            width: 100%;   
                            display: inline-block;
                            text-transform: uppercase;
                        }
                        a.active {
                            border-bottom: 2px solid #424242;
                        }
                        &::before{
                            opacity: 0;
                            content: "\e86c";
                            font-family: 'Material Icons';
                            font-weight: normal;
                            font-style: normal;
                            font-size: 24px;
                            line-height: 1;
                            letter-spacing: normal;
                            text-transform: none;
                            display: inline-block;
                            white-space: nowrap;
                            word-wrap: normal;
                            direction: ltr;
                            -webkit-font-feature-settings: 'liga';
                            -webkit-font-smoothing: antialiased;
                            position: absolute;
                            top: 15px;
                            color: #6DD400;
                        }
                        &.active-tab{
                            &::before{
                                opacity: 1;
                            }
                        }
                    }
                }
            }

            .step-content{
                padding: 0px 0;
                min-height: 450px;
                .tab-pane-inner {
                    padding: 50px 0;
                    &.upload-step{ padding-top: 0; }
                }
                .footer-step {
                    position: fixed;
                    bottom: 0;
                    width: 100%;
                    left: 0;
                    padding: 30px;
                    background-color: #fafbfd;
                    z-index: 2;
                    .container-1000{
                        max-width: 960px;
                    }
                }

            }

        }

        // end registration

    }

}

/*    */

.input-forms-common{
    .input-pin-code-div {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 20px;
        .form-control {
            margin-right: 10px;
            max-width: 80px;
            min-height: 80px;
            font-size: 40px;
            font-weight: 900;
            padding: 10px;
            color: #181818;
            letter-spacing: 0;
            text-align: center;
            margin-bottom: 0;
            background: #fff;
            border: 1px solid rgba(114, 114, 114, 0.4);
            &::-webkit-input-placeholder { color: #727272;}
            &::-moz-placeholder { color: #727272;}
            &:-ms-input-placeholder { color: #727272;}
            &:-moz-placeholder { color: #727272;}
        }   
        .dash{
            background-color: #181818;
            height: 3px;
            width: 10px;
            margin-right: 10px;
            display: flex;
            align-items: center;
        }
    }
}

/* profile pic  **/


.profile-pic-upload{
    position: relative;
    padding: 20px 0 20px 0; margin: 0px 0 0 0; display: flex; align-items: center;

    .profile-pic {  width: 110px; height: 110px; object-fit: cover; border-radius: 100%; display: block; border: 2px solid #F6F8FB; background-color: #F6F8FB; }
    label.filelabel-icon { height: 40px; width: 40px; background: #FFFFFF; box-shadow: 0 3px 5px 0 #E8E8E8; display: flex; align-items: center; justify-content: center; border-radius: 100%; font-size: 14px; position: absolute; bottom: 0; right: 0px; cursor: pointer; }
    .file-upload { display: none; }
    .circle {     width: 112px; height: 112px; position: relative; border-radius: 100%; display: block; }
    img { max-width: 100%; height: auto; }
    .upload-button { font-size: 1.2em; }
    .upload-button:hover { transition: all .3s cubic-bezier(.175, .885, .32, 1.275); color: #999; }
    i.material-icons { //font-family: 'Material Icons Outlined'; 
        font-size: 24px; }
    .p-image{
        padding: 10px 0 10px 10px; margin: 0; position: relative; height: 100%; display: flex; align-items: flex-end; min-height: 112px;
        .file-uploadpic-label { padding: 0; margin: 0 0 0px 0; line-height: 24px; font-weight: 400; width: 100%; cursor: pointer; font-size: 20px; color: #181818; letter-spacing: 0; height: auto; 
            .span-block { display: block; }
        }
    }

}

/* End of profile pic  */



/* modal */

.btn.btn-primary{
    @include btn-primary();
    min-width: 200px;
}



.modal-backdrop{ z-index: 9999; }
.modal{ z-index: 99999; }
.modal-common{ z-index: 99999;
    .modal-dialog { max-width: 790px; }
    .modal-content{ border-radius: 0px; }
    .modal-header{ padding: 0; border: none; 
        .close { background-color: #D8D8D8; height: 42px; width: 42px; padding: 0; margin: 0; display: flex; align-items: center; justify-content: center; opacity: 1;    opacity: 1;     text-shadow: none; border-radius: 100%;     position: absolute; top: -20px; right: -20px; outline: none;     z-index: 9; transition: all 0.8s;
            &:hover, &:focus{
                background-color: #DDD;
            }
        }
    }
    .modal-body{ padding: 0; }
    .common-box{
        padding: 60px 0 30px 0;
        h3 { font-weight: 700; font-size: 34px; color: #282D30; letter-spacing: 0; text-align: center; padding: 0; margin: 0 0 30px 0; display: flex; justify-content: center; align-items: center; }
        
        .heading-box{
            padding: 0px 20px; margin: 0;
            h3{ position: relative;
                &::before{ content: ""; background-color: #2A42E1; position: absolute; bottom: -10px; width: 40px; height: 3px; margin: 0 auto; }
            }
        }
        .content-box{ padding: 10px 20px 20px 20px; margin: 0;
            p { font-weight: 400; font-size: 22px; color: #000000; text-align: center; line-height: 30px; padding: 0; margin: 0 auto 20px auto; max-width: 550px; }
        }
        .verify-row {
            display: flex; padding: 40px 40px 20px 40px; background-color: #F2F2F2; justify-content: center;
        }
    }
    .modal-footer {
        border: none;
        padding: 30px 20px 40px 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

/* End of banner */

/* Inner Pages  **/




/* end of home page */

/* loader */

.loader-box{
    padding: 0; margin: 0; position: fixed; height: 100vh; width: 100%; z-index: 99999; background-color: rgba(255, 255, 255, 0.7);     display: flex; align-items: center; justify-content: center;
    &.show-loader{ display: flex; }
        .lds-ellipsis {
            display: inline-block; position: relative; width: 80px; height: 80px;
            div { position: absolute; top: 33px; width: 13px; height: 13px; border-radius: 50%; background: #2A42E1; animation-timing-function: cubic-bezier(0, 1, 1, 0); }
            div:nth-child(1) { left: 8px; animation: lds-ellipsis1 0.6s infinite; }
            div:nth-child(2) { left: 8px; animation: lds-ellipsis2 0.6s infinite; }
            div:nth-child(3) { left: 32px; animation: lds-ellipsis2 0.6s infinite; }
            div:nth-child(4) { left: 56px; animation: lds-ellipsis3 0.6s infinite; }
        }
        @keyframes lds-ellipsis1 {
            0% {
            transform: scale(0);
            }
            100% {
            transform: scale(1);
            }
        }
        @keyframes lds-ellipsis3 {
            0% { transform: scale(1); }
            100% { transform: scale(0); }
        }
        @keyframes lds-ellipsis2 {
            0% { transform: translate(0, 0); }
            100% { transform: translate(24px, 0); } 
        }
        
}

/* End of loader */


@media (min-width: 1025px) {
    


}

@media (min-width: 1025px) and (max-width: 1290px) {
    
    .container {
        max-width: 1100px;
    }

}

@media (min-width: 1025px) and (max-width: 1450px) {

    .heading-div{  h2 { font-size: 36px; line-height: 48px; } }
    h2 { font-size: 36px; line-height: 48px; }
    p{ font-size: 14px; line-height: 26px; }
    .btn-link{ font-size: 14px; line-height: 26px; }

}

@media (min-width: 1450px) and (max-width: 1700px) {

}

@media (max-width: 767px) {

    header{
        
        .header-div{

            min-height: 70px; background-color: #2A42E1;

            .nav-center-div { width: 30%; order: 3; min-height: 70px; padding: 0; justify-content: flex-end; }
            .logo-div { width: 70%; order: 1; }
            .logo-div .logo_link  { width: 190px; }
            
            .top-nav1 {display: flex;align-items: center; height: 100%; justify-content: flex-end; }
            .nav-m-bar .menu-bars{ font-size: 30px; color: $white-color; display: flex; align-items: center;}
            .nav-div { height: 100%; width: 0; position: fixed; z-index: 9999999; top: 0; right: 0;  background-color: $white-color; overflow-x: hidden; padding-top: 60px; transition: 0.5s; }
            .nav-div .closebtn { position: absolute; color: $darkblue-color; background-color: transparent;  border-radius: 0 0 0 30px; top: 0; min-width: 45px; text-align: center; height: 45px; display: flex; justify-content: center; align-items: center; right: 0; font-size: 40px; font-weight: 300; line-height: 35px; margin-top: 15px; margin-right: 10px; }
            .nav-div .closebtn:hover { color: $blue-color; }
            .nav-div .closebtn { display:block;}

            .width80{     width: calc(100% - 68px); }
            .opacityon{ opacity: 1; }
            .cd-shadow-layer.displayblock{ display: block;  height: 100%; overflow: hidden; }
            
            .nav{ margin: 0 auto; }

            .max-container-container{ bottom: 20px; }
            .banner-caption { padding: 0px 0; }
            .banner-section .banner-div .center_title .social-icon-div ul { margin: 0 0 8px 0; }

            .header-container {display: flex;}
            .header-right-div {align-items: center;}
            
            .logo-div { padding: 15px 0; min-height: 70px; }
            
            .nav-div .closebtn {display: block; color: $darkblue-color;}

            .ullist-inline li{ width: 100%; margin: 0; }
            .ullist-inline li .nav-link {color: $darkblue-color !important; padding: 15px 30px; white-space: nowrap; width: 100%; text-align: left; }
            .ullist-inline li.active .nav-link { color: $blue-color !important; }
            
            a.btn.btn-blue.top-minues10 { margin: 10px !important; border-radius: 0px; }

            .ullist-inline li.dropdown {position: relative;}
            .ullist-inline li.dropdown::after {
                content: "\e92e";
                font-family: Feather!important;
                speak: none;
                font-style: normal;
                font-weight: 400;
                font-variant: normal;
                text-transform: none;
                line-height: 1;
                position: absolute;
                right: 15px;
                top: 16px;
                transform: rotate(-180deg);
                -webkit-font-smoothing: antialiased;
                transition: all 0.4s ease-in-out;
            }
            .ullist-inline li.dropdown.show::after {
                transform: rotate(0deg);
                transition: all 0.4s ease-in-out;
            }

            .ullist-inline li .nav-link.btn-user { 
                margin: 0px 0 0 0; width: 100%;  border-radius: 0px;    color: rgba(255, 255, 255, 0.5) !important; 
                &::before{ display: none; }
            }
            .dropdown-toggle::after{  margin: 10px 0 10px 10px; }
            .dropdown-menu.show { position: relative !important; top: auto !important; left: auto !important; min-width: 100% !important; width: 100%; margin: 0rem 0 0; transform: none !important; text-align: center; }
            .dropdown-menu.show li {text-align: left; padding-left: 30px; font-size: 14px;}
            .dropdown-menu.show li a {font-size: 14px;}
            .ullist-inline li.myaccount-count{ margin: 20px 0 0 0; }
            .btn.btn-gradiant2.btn-mycart { margin: 0 !important; border-radius: 0px; max-width: 100%; }
            
            .contact-us-btn.ml-10{ margin: 20px 20px 20px 20px !important; padding: 10px; }
        }   

        .header-div.scrollUp { transform: initial; }

    }

    .position-fixed {
        overflow: hidden;
    }

    .heading-div{  h2 { font-size: 36px; line-height: 48px; } }
    h2 { font-size: 36px; line-height: 48px; }
    p{ font-size: 14px; line-height: 26px; }
    .btn-link{ font-size: 14px; line-height: 26px; }

    .banner-section{  
        .banner-div{ 
            
            .content-banner { z-index: 2;
                flex-direction: column;
                h1{ font-size: 36px; line-height: 48px; margin: 0 0 25px 0; padding: 40px 0 !important;}
                .text-content { padding: 0 15px; }
            }
            .max-container-container {
                margin: 0 0 0 15px;
                position: relative;
                text-align: left;
                bottom: 0;
                padding: 0 0 20px 0;
                width: 100%;
            }

            .side-img-banner { flex: 0 0 100%; max-width: 100%; min-height: 100%; position: relative; 
                img.banner-img { height: 100%; max-height: 100%; width: 100%; }
            }   
            
        }
    }

    .return-to-top { bottom: 10px; right: 10px; width: 35px; height: 35px; 
        i { font-size: 14px !important; }
    }

    /********/

    // 14th feb

    .max-input-div {
        .form-control {
            padding-left: 110px !important;
            padding-right: 60px !important;
        }
        .select-box.select-custom2 {
            width: 95px;
            min-height: 47px;
            height: 47px;
            top:2px;
        }
        .btn-link { line-height: 28px; padding: 10px 15px; min-height: 46px; }
    }
   
    .selectbox-inline{
        .select-custom2{
            span.select2-selection.select2-selection--single{    font-size: 16px;}
        }
    }
    
    .authntication-section{  
        .authntication-inner{ 
            padding-top: 70px;padding-bottom: 20px;
            .authntication-box-header{ padding: 0px 0 0px 0; }
            .authntication-box{
                min-height: auto;
                padding: 40px 20px;

                .form-group {
                    label {
                        font-size: 18px;
                    }
                    .form-control {
                        height: 50px;
                        margin-bottom: 20px;
                    }

                    .input-pin-code-div {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: flex-start;
                        margin-bottom: 20px;
                        .form-control {
                            margin-right: 5px;
                            max-width: 58px;
                            font-size: 16px;
                            padding: 3px;
                    
                        }
                        .dash{
                            display: none;
                        
                        }
                    }

            
                }

                .forgot-password{
                    position: relative;
                    .left-time {
                        position: absolute;
                        right: 0px;
                        top: 5px;
                        strong {
                            margin-right: 5px;
                        }
                    }
                    .form-control {
                        padding-right: 10px;
                    }
                
                }

                .authentication-btn{
                    padding-top: 20px;
                    .btn-login {
                        @include btn-round-lg();
                        min-height: 50px;
                        height: 50px;
                        line-height: 36px;
                        font-size: 18px;
                    }
                

                }
            }
            .authntication-box-footer  {
                padding: 15px;
                a {
                    font-size: 16px;
                }

            }
            .form-group {
                .form-control {
                    font-size: 16px;
                    padding: 10px 15px;
                    min-height: 50px;
                    height: auto;
                }
                label{
                    font-size: 16px;
                    margin-bottom: 10px;
                }
            }
            &.step-content-inner{
                padding-bottom: 70px;
                .registration-box{
                    padding: 0;
                    .step-header{
                        ul.nav.nav-tabs { flex-wrap: nowrap; white-space: nowrap; overflow-x: auto;
                            &::after{ content:""; }
                            li {
                                min-width: auto;
                                display: inline-block;
                                a{
                                    font-size: 14px;
                                    line-height: 20px;
                                    padding: 15px 15px;
                                }
                            }
                        }
                    }
                    .step-content {
                        .footer-step {
                            padding: 10px 0; 
                            .btn-common {
                                font-size: 18px;
                                line-height: 30px;
                                min-height: 48px;
                            }
                            .container-1000{
                                max-width: 738px;
                            }
                        }
                    }
                    .form-group {
                        .form-control {
                            font-size: 16px;
                            padding: 10px 15px;
                            min-height: 50px;
                            height: auto;
                        }
                        label{
                            font-size: 16px;
                            margin-bottom: 10px;
                        }
                    }
                }
            }
        }
    }

    /* step forms */

 
    /* End of step forms */

    .input-forms-common {
        .input-pin-code-div {
            .form-control {
                max-width: 40px;
                min-height: 40px;
                font-size: 20px;
                padding: 10px 5px;
            }
        }
    }

    .btn.btn-primary { padding: 6px 30px; min-height: 46px; font-size: 18px; min-width: 150px; }
    
    .btn-common-icon-link { font-size: 20px; line-height: 36px; min-height: 48px; transition: all 0.3s ease-in-out; 
        i.fe{    padding: 0 10px 0 0; }
    }

    .form-group.form-group-112 {
        min-height: auto;
    }
    
    .profile-pic-upload{
        justify-content: center;flex-direction: column;
        .p-image{
            padding: 15px 10px 10px 10px;    min-height: auto;
        }
    }

    .modal-common {

        .modal-header {
            .close {     top: -24px; right: 0; }
        }
        .common-box {     padding: 40px 0 20px 0;
            h3 { font-size: 24px; margin: 0 0 30px 0; }
            .verify-row{
                padding: 20px 20px 0px 20px;
            }
            .content-box{
                p { font-size: 18px; line-height: 24px; margin: 0 auto 10px auto; }    
            } 
        }
        .modal-footer{
            padding: 20px 20px 30px 20px;
        }
    }

    //aakhil

    .connection-form-group .invite-box-root {
        flex-wrap: nowrap !important;
        .invite-box-card {
            min-width: 286px !important;
        }
    }

    
    .authntication-section .authntication-inner .registration-box .step-header ul li.active-tab::before { font-size: 18px; margin: 1px 0 0 0; }
    .authntication-section .authntication-inner.step-content-inner .registration-box .step-header ul.nav.nav-tabs li a { padding: 15px 25px; }

    /* add css */

    .authntication-section .authntication-inner.step-content-inner .authntication-box-header{ padding: 40px 0 0 0; }
    
    
    /* End of add css */
    
    
}

@media (min-width: 768px) and (max-width: 1024px) {

    .heading-div{ 
        h2{ font-size: 28px; } 
        p{ font-size: 16px; } 
    }

    header{
        .header-div{

            min-height: 70px;

            .nav-center-div { width: 30%; order: 3; min-height: 70px; padding: 0; justify-content: flex-end; }
            .logo-div { width: 70%; order: 1; }
            .logo-div .logo_link  { width: 200px; }
            
            .top-nav1 {display: flex;align-items: center; height: 100%; justify-content: flex-end; }
            .nav-m-bar .menu-bars{ font-size: 30px; color: $white-color; display: flex; align-items: center;}
            .nav-div { height: 100%; width: 0; position: fixed; z-index: 9999999; top: 0; right: 0;  background-color: $white-color; overflow-x: hidden; padding-top: 60px; transition: 0.5s; }
            .nav-div .closebtn { position: absolute; color: $darkblue-color; background-color: transparent;  border-radius: 0 0 0 30px; top: 0; min-width: 45px; text-align: center; height: 45px; display: flex; justify-content: center; align-items: center; right: 0; font-size: 40px; font-weight: 300; line-height: 35px; margin-top: 15px; margin-right: 10px; }
            .nav-div .closebtn:hover { color: $blue-color; }
            .nav-div .closebtn { display:block;}

            .width80{ width: 300px; }
            .opacityon{ opacity: 1; }
            .cd-shadow-layer.displayblock{ display: block;  height: 100%; overflow: hidden; }
            
            .nav{ margin: 0 auto; }

            .max-container-container{ bottom: 20px; }
            .banner-caption { padding: 0px 0; }
            .banner-section .banner-div .center_title .social-icon-div ul { margin: 0 0 8px 0; }

            .header-container {display: flex;}
            .header-right-div {align-items: center;}
            
            .logo-div { padding: 15px 0; min-height: 70px; }
            
            .nav-div .closebtn {display: block; color: $darkblue-color;}

            .ullist-inline li{ width: 100%; margin: 0; }
            .ullist-inline li .nav-link {color: $darkblue-color !important; padding: 15px 30px; white-space: nowrap; width: 100%; text-align: center; }
            .ullist-inline li.active .nav-link { color: $blue-color !important; }

           
            .ullist-inline li.dropdown::after {
                content: "\e92e";
                font-family: Feather!important;
                speak: none;
                font-style: normal;
                font-weight: 400;
                font-variant: normal;
                text-transform: none;
                line-height: 1;
                position: absolute;
                right: 15px;
                top: 17px;
                transform: rotate(-180deg);
                -webkit-font-smoothing: antialiased;
                transition: all 0.4s ease-in-out;
            }
            .ullist-inline li.dropdown.show::after {
                transform: rotate(0deg);
                transition: all 0.4s ease-in-out;
            }
            
            a.btn.btn-blue.top-minues10 { margin: 10px !important; border-radius: 0px; }

            .ullist-inline li .nav-link.btn-user { 
                margin: 0px 0 0 0; width: 100%;  border-radius: 0px;    color: rgba(255, 255, 255, 0.5) !important; 
                &::before{ display: none; }
            }
            .dropdown-toggle::after{  margin: 10px 0 10px 10px; }
            .dropdown-menu.show { position: relative !important; top: auto !important; left: auto !important; min-width: 100% !important; width: 100%; margin: 0rem 0 0; transform: none !important; text-align: center; }

            .ullist-inline li.myaccount-count{ margin: 20px 0 0 0; }
            .btn.btn-gradiant2.btn-mycart { margin: 0 !important; border-radius: 0px; max-width: 100%; }
            
            .contact-us-btn.ml-10{ margin: 20px 20px 20px 20px !important; padding: 10px; }
        }   

        .header-div.scrollUp { transform: initial; }

    }

    .position-fixed {
        overflow: hidden;
    }

    .heading-div{  h2 { font-size: 36px; line-height: 48px; } }
    h2 { font-size: 36px; line-height: 48px; }
    p{ font-size: 14px; line-height: 26px; }
    
    .prag-breack{
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 7;
        overflow: hidden;
        .span-block{
            margin: 0 0 5px 0; display: inline;
        }
    }

    .banner-section{  
        .banner-div{ 
            
            .content-banner { z-index: 2;
                h1{ font-size: 36px; line-height: 48px; margin: 0 0 25px 0; }
                .text-content { padding: 0 15px; }
            }

            .max-container-container {
                margin: 0 0 0 15px;
            }

            .side-img-banner { flex: 0 0 100%; max-width: 100%; min-height: 100%; position: relative;  }   
            
        }
    }
        
    .return-to-top { bottom: 10px; right: 10px; width: 35px; height: 35px;
        i { font-size: 14px !important; }
    }
    .authntication-section{  
        .authntication-inner{
            &.step-content-inner{
                .registration-box{
                    .step-header{
                        ul.nav.nav-tabs { flex-wrap: nowrap; white-space: nowrap; overflow-x: auto;
                            &::after{ content:""; }
                            li {
                                min-width: 25%;
                                display: inline-block;
                                a{
                                    font-size: 16px;
                                    line-height: 20px;
                                    padding: 15px 15px;
                                }
                            }
                        }
                    }
                    .step-content {
                        .footer-step {
                            padding: 10px 0;
                            .btn-common {
                                font-size: 18px;
                                line-height: 30px;
                                min-height: 48px;
                            }
                            .container-1000{
                                max-width: 738px;
                            }
                        }
                    }
                    
                }
            }
        }
    }

    .modal-common {
        .modal-dialog {
            max-width: 700px;
        }
    }
    
    /* add css */

    .authntication-section .authntication-inner.step-content-inner { padding-bottom: 70px; }
    .authntication-section .authntication-inner .authntication-box-header { padding: 0px 0 0 0; }
    .authntication-section .authntication-inner.step-content-inner .authntication-box-header{ padding: 40px 0 0 0; }
    .authntication-section .authntication-inner .registration-box .step-content .tab-pane-inner.upload-step { min-height: calc(100vh - 382px); }

    /* End of add css */

}



@media (min-width: 1024px) and (max-width: 1366px) {


}


@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {



}