@import url(bootstrap.min.css);
@import url(animate.min.css);
@import url(waves.css);
@import url(owl.carousel.min.css);
@import url(feather.min.css);
@import url(select-custom.css);
@import url(select2.min.css);
@import url(datepicker-b4.min.css);
@import url("https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i&display=swap");
/* colors */
/* End of colors */
.pad-0 {
  padding-bottom: 0 !important;
}

.custom-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.custom-checkbox label {
  font-size: 18px;
  color: #424242;
  letter-spacing: 0;
  padding-left: 5px;
}

.custom-checkbox .custom-control-label::after {
  position: absolute;
  top: 2px;
  left: -2px;
  display: block;
  width: 22px;
  height: 22px;
  content: "";
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.custom-checkbox .custom-control-label::before {
  height: 18px;
  width: 18px;
  border-radius: 0;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  height: 18px;
  width: 18px;
  border-radius: 0;
}

.custom-checkbox .custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #2A42E1;
}

/* default css */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}

html {
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  scroll-behavior: smooth;
}

body {
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  background-color: #FAFBFD;
  font-family: 'Roboto', sans-serif !important;
  scroll-behavior: smooth;
}

.wrapper {
  background-color: white;
  display: block;
  height: 100%;
}

.wrapper .btn.focus, .wrapper .btn:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.wrapper .btn {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.container {
  max-width: 1140px;
}

.container-1000 {
  max-width: 1000px;
}

.container-lg {
  max-width: 1280px;
}

.page-link:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

/* End of default css */
/*  general css */
.white-color {
  fill: white;
}

.top-minues10 {
  margin-top: -10px !important;
}

.ml-10 {
  margin-left: 10px !important;
}

.mt-10 {
  margin-top: 10px !important;
}

.mr-10 {
  margin-right: 10px;
}

.p0 {
  padding: 0px !important;
}

/*  */
a {
  color: #2A42E1;
}

a:hover {
  color: #2F5BEA;
}

h2 {
  padding: 0;
  margin: 0 0 10px 0;
  color: #0C406B;
  font-size: 40px;
  font-weight: 600;
  line-height: 60px;
}

p {
  padding: 0;
  margin: 0 0 15px 0;
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  color: #6E84A3;
}

.position-initial {
  position: initial;
}

.prag-breack .span-block {
  margin: 0 0 15px 0;
  display: block;
}

.btn.btn-blue {
  padding: 0 20px;
  margin: 0;
  border: 1px solid #2a42e1;
  background-color: #2a42e1;
  color: white;
  min-height: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 700;
  font-size: 14px;
  border-radius: 0px;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  line-height: 24px;
}

.btn.btn-blue:hover, .btn.btn-blue:focus {
  border: 1px solid #0C406B;
  background-color: #0C406B;
  -webkit-box-shadow: 0 3px 10px 0 rgba(12, 64, 107, 0.3);
          box-shadow: 0 3px 10px 0 rgba(12, 64, 107, 0.3);
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.btn-link {
  padding: 0;
  margin: 0;
  width: 100%;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  color: #2a42e1;
  position: relative;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.btn-link:hover, .btn-link:focus {
  color: #4d089a;
}

.btn-link:hover::after, .btn-link:focus::after {
  background-color: #0C406B;
  width: 100%;
}

.btn-common {
  background: #2A42E1;
  border: 1px solid #642BDE;
  border-radius: 100px;
  font-size: 24px;
  color: #FFFFFF;
  letter-spacing: 0;
  text-align: center;
  line-height: 44px;
  width: 100%;
  min-height: 58px;
  display: inline-block;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  font-weight: 600;
}

.btn-common:hover, .btn-common:focus {
  -webkit-box-shadow: 0 5px 25px 5px rgba(42, 66, 225, 0.3);
          box-shadow: 0 5px 25px 5px rgba(42, 66, 225, 0.3);
}

.btn-common-icon-link {
  font-weight: 400;
  font-size: 24px;
  background-color: transparent;
  color: #727272;
  letter-spacing: 0;
  line-height: 44px;
  width: auto;
  min-height: 58px;
  display: inline-block;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.btn-common-icon-link i.fe {
  padding: 0 30px 0 0;
}

.btn-common-icon-link:hover {
  color: #2A42E1;
}

.max3-lines {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.return-to-top {
  position: fixed;
  bottom: 25px;
  right: 25px;
  background: #2a42e1;
  width: 50px;
  height: 50px;
  text-decoration: none;
  border-radius: 35px;
  display: none;
  -webkit-transition: all 0.3s linear;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 999;
}

.return-to-top i {
  color: white;
  margin: 0;
  position: relative;
  left: auto;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: initial;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.return-to-top:hover {
  background: #0C406B;
}

.return-to-top:hover i {
  color: white;
}

.display_show {
  display: block;
}

.position-fixed {
  position: unset !important;
  overflow: hidden;
}

/* add svg icons */
.right-arrowicon {
  -webkit-mask: url(../images/icons/arrow-right.svg) no-repeat 50% 50%;
  mask: url(../images/icons/arrow-right.svg) no-repeat 50% 50%;
  -webkit-mask-size: contain;
  display: inline-block;
  vertical-align: middle;
  -webkit-mask-size: cover;
          mask-size: cover;
  width: 24px;
  height: 18px;
  color: rgba(110, 132, 163, 0.5);
  fill: rgba(110, 132, 163, 0.5);
  background-color: rgba(110, 132, 163, 0.5);
  margin: 0 0 0 10px;
}

/* select2 */
.select2-container .select2-dropdown {
  margin-top: -10px;
}

.select-box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-control.select-control {
  border: 1px solid #D9EFFF;
  border-radius: 0px;
  min-height: 50px;
  color: #979797;
  padding: 0 20px;
  font-size: 18px;
  font-weight: 400;
  width: 100%;
  -webkit-appearance: none;
  background: #285B89;
  position: relative;
}

.form-control.select-control:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.select-custom2 span.select2-selection.select2-selection--single {
  border: 1px solid #DFEAF1 !important;
  border-radius: 0px;
  min-height: 50px;
  color: #3C454C;
  padding: 10px 10px;
  font-size: 18px;
  font-weight: 400;
  width: 100%;
  -webkit-appearance: none;
  background: #FAFCFD;
  position: relative;
}

.select-custom2 .select2.select2-container .select2-selection .select2-selection__arrow {
  border-radius: 0 0px 0px 0;
  height: 47px;
  width: 37px;
  background-color: transparent;
  border: none;
}

.select-custom2 .select2-container--default .select2-selection--single .select2-selection__arrow b {
  border: none;
  top: 18px;
  left: 10px;
  font-family: Feather !important;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

.select-custom2 .select2-container--default .select2-selection--single .select2-selection__arrow b::before {
  content: '\e92e';
}

.select2-container .select2-dropdown .select2-search input {
  outline: none;
  border: 1px solid #DFEAF1;
  border-bottom: none;
  padding: 10px 10px;
}

.select2-container .select2-dropdown .select2-results ul {
  background: #fff;
  border: 1px solid #DFEAF1;
}

.select2-container .select2-dropdown .select2-results ul .select2-results__option--highlighted[aria-selected] {
  background-color: #2a42e1;
}

.select2-results__option {
  padding: 10px;
}

/* single select */
.selectbox-inline {
  position: relative;
}

.selectbox-inline .select-custom2 span.select2-selection.select2-selection--single {
  border: 1px solid transparent !important;
  border-radius: 0px;
  min-height: 40px;
  color: #3C454C;
  padding: 10px 10px;
  font-size: 18px;
  font-weight: 400;
  width: auto;
  -webkit-appearance: none;
  background: transparent;
  position: relative;
  border-radius: 10px;
}

.selectbox-inline .select-custom2 .select2.select2-container .select2-selection .select2-selection__arrow {
  border-radius: 0 0px 0px 0;
  height: 47px;
  width: 37px;
  background-color: transparent;
  border: none;
}

.selectbox-inline .select-custom2.select-common span.select2-selection.select2-selection--single {
  border: 1px solid #C7C7C7 !important;
  height: 58px;
  background-color: transparent;
  border-radius: 0;
  font-size: 20px;
  font-weight: 300;
  padding: 12px 15px;
}

.max-input-div {
  position: relative;
}

.max-input-div .select-box.select-custom2 {
  position: absolute;
  left: 1px;
  top: 1px;
  background-color: #fafbfd;
  width: 105px;
  border-right: 1px solid #C7C7C7;
  min-height: 56px;
}

.max-input-div .form-control {
  padding-left: 125px !important;
  padding-right: 90px !important;
}

.max-input-div .btn-link {
  line-height: 34px;
  position: absolute;
  top: 1px;
  right: 1px;
  width: auto;
  padding: 10px 15px;
  min-height: 57px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* End of select **/
/* end of select2 */
.form-control {
  padding: 10px 25px;
  font-size: 20px;
  color: #727272;
}

.form-control::-webkit-input-placeholder {
  color: #727272;
}

.form-control::-moz-placeholder {
  color: #727272;
}

.form-control:-ms-input-placeholder {
  color: #727272;
}

.form-control:-moz-placeholder {
  color: #727272;
}

.form-control:focus {
  border-color: #2a42e1 !important;
  color: #181818;
}

.form-control:disabled {
  background-color: #F2F2F2 !important;
  border: 1px solid #C7C7C7 !important;
  color: #424242 !important;
  font-weight: 400 !important;
  cursor: not-allowed;
}

.radio-common .custom-radio {
  margin-right: 3rem;
  min-height: 20px;
  line-height: 24px;
  padding-left: 1.7rem;
}

.radio-common .custom-radio .custom-control-input:checked ~ .custom-control-label::after {
  background-image: none;
  background-color: #2A42E1;
  border-radius: 100%;
  height: 12px;
  width: 12px;
  border: 2px solid #D7D7D7;
  top: 6px;
  left: 2px;
}

.radio-common .custom-radio .custom-control-input:checked ~ .custom-control-label::before {
  background-color: rgba(199, 199, 199, 0.8);
  border: 1px solid rgba(114, 114, 114, 0.4);
}

.radio-common label.custom-control-label {
  margin-bottom: 0px !important;
  font-weight: 400 !important;
  font-size: 14px !important;
  color: #727272 !important;
  letter-spacing: 0;
}

.radio-common label.custom-control-label::after {
  background-color: rgba(199, 199, 199, 0.8);
  border: 1px solid rgba(114, 114, 114, 0.4);
  border-radius: 100%;
}

.form-group.form-group-112 {
  min-height: 112px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

/* drag & drop */
.upload-dropbox-file .drag-drop-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.upload-dropbox-file .drag-drop-center form.dropzone {
  max-width: 100%;
  width: 100%;
  min-height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  background: #f5f7fb;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 0px;
  border: none;
}

.upload-dropbox-file .drag-drop-center form.dropzone::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.upload-dropbox-file .drag-drop-center form.dropzone::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 24px 24px;
}

.upload-dropbox-file .drag-drop-center form.dropzone::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.8);
  background-image: linear-gradient(45deg, #014AEA, #0281F6);
  border-radius: 5px;
}

.upload-dropbox-file .drag-drop-center form.dropzone .dz-preview .dz-details .dz-filename:not(:hover) span {
  border: 1px solid transparent;
  background-color: transparent;
}

.upload-dropbox-file .drag-drop-center form.dropzone .dz-preview {
  background: #ffffff;
  width: 100%;
  min-height: 60px;
  max-height: 60px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 15px 0 !important;
  border: none;
}

.upload-dropbox-file .drag-drop-center form.dropzone .dz-image {
  display: none;
  height: 60px !important;
  width: 60px !important;
  border-radius: 0px !important;
  background-color: #eee !important;
}

.upload-dropbox-file .drag-drop-center form.dropzone a.dz-remove {
  position: absolute;
  top: 0;
  right: 10px;
  z-index: 33;
  color: #2a42e1 !important;
  background-color: transparent !important;
  background: none !important;
  height: 60px;
  vertical-align: top;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  font-size: 24px;
  cursor: pointer;
}

.upload-dropbox-file .drag-drop-center form.dropzone a.dz-remove i {
  cursor: pointer;
}

.upload-dropbox-file .drag-drop-center form.dropzone a.dz-remove:hover {
  text-decoration: none;
}

.upload-dropbox-file .drag-drop-center form.dropzone .dz-preview .dz-details {
  background-color: transparent;
  width: 100% !important;
  text-align: left;
  margin: 0px 0 0 0 !important;
  padding: 0 10px !important;
  height: 100% !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 30px;
  vertical-align: top;
  opacity: 1;
}

.upload-dropbox-file .drag-drop-center form.dropzone .dz-preview .dz-details .dz-size {
  bottom: 5px;
  padding: 0 13px;
  margin-bottom: 0;
}

.upload-dropbox-file .drag-drop-center form.dropzone .center-text-zone {
  padding: 70px 0 80px 0;
}

.upload-dropbox-file .drag-drop-center form.dropzone .dz-preview .dz-details .dz-filename {
  padding-top: 10px;
}

.upload-dropbox-file .drag-drop-center .dropzone-100 {
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.upload-dropbox-file .drag-drop-center .dropzone-100 span.note.needsclick {
  font-size: 14px;
  color: #285B89;
  font-weight: 300;
  text-align: center;
  line-height: 30px;
}

.upload-dropbox-file .drag-drop-center .dropzone .dz-preview .dz-success-mark, .upload-dropbox-file .drag-drop-center .dropzone-previews .dz-preview .dz-success-mark {
  display: none !important;
}

.upload-dropbox-file .drag-drop-center .dropzone .dz-preview.dz-error .dz-error-mark, .upload-dropbox-file .drag-drop-center .dropzone-previews .dz-preview.dz-error .dz-error-mark {
  display: none !important;
}

.center-text-zone h5 {
  font-weight: 400;
  font-size: 20px;
  color: #424242;
  letter-spacing: 0;
  text-align: center;
  line-height: 26px;
  margin: 0 0 5px 0;
  padding: 0;
}

.center-text-zone p {
  font-weight: 400;
  font-size: 16px;
  color: #727272;
  letter-spacing: 0;
  text-align: center;
  line-height: 26px;
  margin: 0 0 5px 0;
  padding: 0;
}

.center-text-zone .btn.btn-white-upload {
  margin: 30px auto 0 auto;
  background: #FAFAFA;
  border: 1px #C7C7C7;
  border-style: dashed;
  padding: 12px 40px 8px 20px;
  border-radius: 0px;
  font-weight: 300;
  font-size: 20px;
  color: #727272;
  letter-spacing: 0;
  min-height: 58px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 275px;
}

.center-text-zone .btn.btn-white-upload .fe {
  margin: 0 20px 0 0;
  color: #000000;
}

/* End of drag & drop */
/*  End of general css */
.heading-div {
  padding: 0;
  margin: 0;
  position: relative;
}

.heading-div h2 {
  padding: 0;
  margin: 0 0 35px 0;
  color: #275C89;
  font-size: 40px;
  font-weight: 600;
  line-height: 60px;
  text-align: center;
}

.heading-div h2 span {
  display: block;
}

.heading-div p {
  padding: 0;
  margin: 0 0 0px 0;
  width: 100%;
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5;
  color: rgba(60, 69, 76, 0.5);
}

.heading-left-div {
  padding: 0;
  margin: 0;
  position: relative;
}

.heading-left-div h2 {
  margin: 0 0 5px 0;
}

.heading-left-div h2 span {
  display: block;
}

.heading-left-div p {
  margin: 0 0 10px 0;
}

/* header */
header {
  position: relative;
}

header .header-div.scrollUp {
  -webkit-transform: translateY(-100px);
          transform: translateY(-100px);
  background-color: #2A42E1;
}

header .fixed_top.header-div .top-nav1 {
  padding: 10px 0 20px 0;
}

header .fixed_top.header-div .ullist-inline li .nav-link {
  color: #00A685;
}

header .fixed_top.header-div .scroll-logo {
  display: block;
}

header .header-div {
  padding: 0;
  margin: 0;
  background-color: #2A42E1;
  position: absolute;
  z-index: 9999;
  width: 100%;
  min-height: 80px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  /* start navigation  **/
  /*  End of navigation  */
}

header .header-div .logo-div {
  padding: 0px 0px 0px 0px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: left;
  width: 20%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 80px;
}

header .header-div .nav-center-div {
  padding: 15px 0px 15px 0px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: left;
  width: 80%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  min-height: 80px;
}

header .header-div .main-logo {
  display: block;
}

header .header-div .logo_img {
  -webkit-transition: display ease-in-out 0.5s;
  transition: display ease-in-out 0.5s;
  width: 213px;
}

header .header-div .top-nav1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 0 0 0;
  width: 100%;
}

header .header-div .inner-top-header-div {
  padding: 0;
  margin: 0;
}

header .header-div .inner-top-header-div.top-nav1 {
  padding: 0;
  margin: 0;
  float: right;
}

header .header-div .cd-shadow-layer {
  position: fixed;
  min-height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(39, 164, 248, 0.3);
  cursor: pointer;
  z-index: 99999;
  display: none;
}

header .header-div .cd-shadow-layer.is-visible {
  display: block;
  -webkit-animation: cd-fade-in 0.3s;
  animation: cd-fade-in 0.3s;
}

header .header-div .display-none {
  display: none !important;
}

header .header-div .nav-div .closebtn {
  display: none;
}

header .header-div .ullist-inline {
  padding: 0 0 2px 0;
  margin: 0px 0px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 45px;
}

header .header-div .ullist-inline li {
  padding: 0;
  margin: 0 35px 0 0;
  display: inline-block;
  text-transform: capitalize;
  font-size: 14px;
}

header .header-div .ullist-inline li.nav-item.dropdown.btn-user-dropdown {
  margin: 0;
}

header .header-div .ullist-inline li:last-child {
  margin: 0 35px 0 0;
}

header .header-div .ullist-inline li .nav-link {
  color: white;
  padding: 10px 0px 3px 0;
  font-weight: 400;
  border-bottom: 1px solid transparent;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 1.5;
}

header .header-div .ullist-inline li .nav-link {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

header .header-div .ullist-inline li .nav-link:before {
  left: 0px;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: white;
  -webkit-transform: translateX(-101%);
          transform: translateX(-101%);
}

header .header-div .ullist-inline li .nav-link:hover:before {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

header .header-div .ullist-inline li .nav-link:before, header .header-div .ullist-inline li .nav-link:after, header .header-div .ullist-inline li .nav-link > span:before, header .header-div .ullist-inline li .nav-link > span:after {
  content: '';
  position: absolute;
  -webkit-transition: -webkit-transform .5s ease;
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease;
}

header .header-div .ullist-inline li .nav-link:hover {
  color: white;
}

header .header-div .ullist-inline li.active .nav-link {
  color: white;
}

header .header-div .ullist-inline li.active .nav-link:before {
  left: 0px;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: white;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

header .header-div .ullist-inline li.nav-link.btn-user {
  height: 48px;
  width: 47px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #003E89;
  margin: -10px 0 0 0;
}

header .header-div .ullist-inline li.nav-link.btn-user::before {
  display: none;
}

header .header-div .ullist-inline .dropdown-toggle::after {
  display: none;
}

header .header-div .ullist-inline .dropdown-menu {
  border: 1px solid #DFEAF1;
  min-width: 190px;
  border-radius: 0px;
  line-height: 24px;
}

header .header-div .ullist-inline .dropdown-menu li {
  display: block;
  width: 100%;
}

header .header-div .ullist-inline .dropdown-menu li a {
  padding: 6px 15px;
  width: 100%;
  display: block;
  margin: 0 0 0px 0;
  color: rgba(11, 22, 43, 0.5);
  font-size: 16px;
  font-weight: 500;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header .header-div .ullist-inline .dropdown-menu li a:hover {
  background-color: #F2F7F9;
  color: #0B162B;
}

header .header-div .ullist-inline .btn.btn-gradiant2.btn-mycart {
  padding: 5px 10px;
  min-height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: capitalize;
}

header .header-div .ullist-inline .btn.btn-gradiant2.btn-mycart span.count-span {
  background-color: #003E89;
  margin: 0 0 0 10px;
  border-radius: 100%;
  height: 27px;
  width: 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 16px;
  letter-spacing: -1px;
}

header .header-div .nav-m-bar .menu-bars {
  display: none;
}

/* End of header */
/* banner */
.authntication-section {
  padding: 0;
  margin: 0;
  position: relative;
  background-color: #FAFBFD;
}

.authntication-section .authntication-inner {
  padding: 0;
  margin: 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  min-height: 100vh;
  padding-top: 80px;
}

.authntication-section .authntication-inner.step-content-inner {
  padding-bottom: 120px;
}

.authntication-section .authntication-inner .authntication-box-header {
  padding: 50px 0 0 0;
}

.authntication-section .authntication-inner .authntication-box-header h2 {
  font-size: 32px;
  color: #424242;
  letter-spacing: 0;
  text-align: center;
}

.authntication-section .authntication-inner .authntication-box-header p {
  font-size: 16px;
  color: #727272;
  letter-spacing: 0;
  text-align: center;
}

.authntication-section .authntication-inner .authntication-box-header p a {
  color: #2A42E1;
  display: inline;
  -webkit-transition: 0.8s all;
  transition: 0.8s all;
}

.authntication-section .authntication-inner .authntication-box-header p a:hover {
  color: #4d089a;
}

.authntication-section .authntication-inner .authntication-box {
  background-color: #ffffff;
  -webkit-box-shadow: 0 2px 54px 0 #F5F6FA;
          box-shadow: 0 2px 54px 0 #F5F6FA;
  min-height: 400px;
  padding: 40px 51px;
}

.authntication-section .authntication-inner .authntication-box .form-group {
  margin-bottom: 20px;
}

.authntication-section .authntication-inner .authntication-box .form-group label {
  font-size: 20px;
  color: #181818;
  letter-spacing: 0;
  font-weight: 400;
  margin-bottom: 15px;
}

.authntication-section .authntication-inner .authntication-box .form-group .form-control {
  border: 1px solid #C7C7C7;
  height: 58px;
  background-color: #ffffff;
  border-radius: 0;
}

.authntication-section .authntication-inner .authntication-box .form-group .input-pin-code-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 20px;
}

.authntication-section .authntication-inner .authntication-box .form-group .input-pin-code-div .form-control {
  margin-right: 10px;
  max-width: 58px;
  font-size: 30px;
  padding: 10px;
  color: #181818;
  letter-spacing: 0;
  text-align: center;
  margin-bottom: 0;
  background: #F2F2F2;
  border: 1px solid rgba(114, 114, 114, 0.14);
}

.authntication-section .authntication-inner .authntication-box .form-group .input-pin-code-div .form-control::-webkit-input-placeholder {
  color: #727272;
}

.authntication-section .authntication-inner .authntication-box .form-group .input-pin-code-div .form-control::-moz-placeholder {
  color: #727272;
}

.authntication-section .authntication-inner .authntication-box .form-group .input-pin-code-div .form-control:-ms-input-placeholder {
  color: #727272;
}

.authntication-section .authntication-inner .authntication-box .form-group .input-pin-code-div .form-control:-moz-placeholder {
  color: #727272;
}

.authntication-section .authntication-inner .authntication-box .form-group .input-pin-code-div .dash {
  background-color: #181818;
  height: 3px;
  width: 10px;
  margin-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.authntication-section .authntication-inner .authntication-box .forgot-password {
  position: relative;
}

.authntication-section .authntication-inner .authntication-box .forgot-password .left-time {
  position: absolute;
  right: 15px;
  top: 60px;
  display: inline-block;
  z-index: 99;
  color: #E90000;
}

.authntication-section .authntication-inner .authntication-box .forgot-password .left-time strong {
  margin-right: 5px;
}

.authntication-section .authntication-inner .authntication-box .forgot-password .form-control {
  padding-right: 130px;
}

.authntication-section .authntication-inner .authntication-box .input-group .form-control {
  padding-right: 50px;
}

.authntication-section .authntication-inner .authntication-box .input-group .input-group-addon {
  position: absolute;
  right: 15px;
  top: 15px;
  z-index: 99;
}

.authntication-section .authntication-inner .authntication-box .input-group .input-group-addon a {
  color: #424242;
}

.authntication-section .authntication-inner .authntication-box .input-group .input-group-addon i {
  font-size: 22px;
}

.authntication-section .authntication-inner .authntication-box .authentication-btn {
  padding-top: 40px;
}

.authntication-section .authntication-inner .authntication-box .authentication-btn .btn-login {
  background: #2A42E1;
  border: 1px solid #642BDE;
  border-radius: 100px;
  font-size: 24px;
  color: #FFFFFF;
  letter-spacing: 0;
  text-align: center;
  line-height: 44px;
  width: 100%;
  min-height: 58px;
  display: inline-block;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  font-weight: 600;
}

.authntication-section .authntication-inner .authntication-box .authentication-btn .btn-login:hover, .authntication-section .authntication-inner .authntication-box .authentication-btn .btn-login:focus {
  -webkit-box-shadow: 0 5px 25px 5px rgba(42, 66, 225, 0.3);
          box-shadow: 0 5px 25px 5px rgba(42, 66, 225, 0.3);
}

.authntication-section .authntication-inner .authntication-box-footer {
  padding: 30px 0;
}

.authntication-section .authntication-inner .authntication-box-footer a {
  display: block;
  text-align: center;
  font-size: 22px;
  color: #2A42E1;
  letter-spacing: 0;
  text-align: center;
  font-weight: 500;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

.authntication-section .authntication-inner .authntication-box-footer a:hover {
  color: #4d089a;
}

.authntication-section .authntication-inner .registration-box {
  background-color: transparent;
  padding: 20px;
}

.authntication-section .authntication-inner .registration-box .form-group {
  margin-bottom: 20px;
}

.authntication-section .authntication-inner .registration-box .form-group label {
  font-size: 20px;
  color: #181818;
  letter-spacing: 0;
  font-weight: 400;
  margin-bottom: 15px;
}

.authntication-section .authntication-inner .registration-box .form-group .form-control {
  border: 1px solid #C7C7C7;
  height: 58px;
  background-color: transparent;
  border-radius: 0;
  font-size: 20px;
  font-weight: 300;
  padding: 10px 25px;
}

.authntication-section .authntication-inner .registration-box .step-header ul li {
  min-width: 25%;
  display: inline-block;
  position: relative;
}

.authntication-section .authntication-inner .registration-box .step-header ul li a {
  font-size: 18px;
  color: #424242;
  letter-spacing: 0;
  text-align: center;
  font-weight: 600;
  line-height: 21px;
  padding: 15px 20px;
  width: 100%;
  display: inline-block;
  text-transform: uppercase;
}

.authntication-section .authntication-inner .registration-box .step-header ul li a.active {
  border-bottom: 2px solid #424242;
}

.authntication-section .authntication-inner .registration-box .step-header ul li::before {
  opacity: 0;
  content: "\e86c";
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
  position: absolute;
  top: 15px;
  color: #6DD400;
}

.authntication-section .authntication-inner .registration-box .step-header ul li.active-tab::before {
  opacity: 1;
}

.authntication-section .authntication-inner .registration-box .step-content {
  padding: 0px 0;
  min-height: 450px;
}

.authntication-section .authntication-inner .registration-box .step-content .tab-pane-inner {
  padding: 50px 0;
}

.authntication-section .authntication-inner .registration-box .step-content .tab-pane-inner.upload-step {
  padding-top: 0;
}

.authntication-section .authntication-inner .registration-box .step-content .footer-step {
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  padding: 30px;
  background-color: #fafbfd;
  z-index: 2;
}

.authntication-section .authntication-inner .registration-box .step-content .footer-step .container-1000 {
  max-width: 960px;
}

/*    */
.input-forms-common .input-pin-code-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 20px;
}

.input-forms-common .input-pin-code-div .form-control {
  margin-right: 10px;
  max-width: 80px;
  min-height: 80px;
  font-size: 40px;
  font-weight: 900;
  padding: 10px;
  color: #181818;
  letter-spacing: 0;
  text-align: center;
  margin-bottom: 0;
  background: #fff;
  border: 1px solid rgba(114, 114, 114, 0.4);
}

.input-forms-common .input-pin-code-div .form-control::-webkit-input-placeholder {
  color: #727272;
}

.input-forms-common .input-pin-code-div .form-control::-moz-placeholder {
  color: #727272;
}

.input-forms-common .input-pin-code-div .form-control:-ms-input-placeholder {
  color: #727272;
}

.input-forms-common .input-pin-code-div .form-control:-moz-placeholder {
  color: #727272;
}

.input-forms-common .input-pin-code-div .dash {
  background-color: #181818;
  height: 3px;
  width: 10px;
  margin-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* profile pic  **/
.profile-pic-upload {
  position: relative;
  padding: 20px 0 20px 0;
  margin: 0px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile-pic-upload .profile-pic {
  width: 110px;
  height: 110px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 100%;
  display: block;
  border: 2px solid #F6F8FB;
  background-color: #F6F8FB;
}

.profile-pic-upload label.filelabel-icon {
  height: 40px;
  width: 40px;
  background: #FFFFFF;
  -webkit-box-shadow: 0 3px 5px 0 #E8E8E8;
          box-shadow: 0 3px 5px 0 #E8E8E8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 100%;
  font-size: 14px;
  position: absolute;
  bottom: 0;
  right: 0px;
  cursor: pointer;
}

.profile-pic-upload .file-upload {
  display: none;
}

.profile-pic-upload .circle {
  width: 112px;
  height: 112px;
  position: relative;
  border-radius: 100%;
  display: block;
}

.profile-pic-upload img {
  max-width: 100%;
  height: auto;
}

.profile-pic-upload .upload-button {
  font-size: 1.2em;
}

.profile-pic-upload .upload-button:hover {
  -webkit-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  color: #999;
}

.profile-pic-upload i.material-icons {
  font-size: 24px;
}

.profile-pic-upload .p-image {
  padding: 10px 0 10px 10px;
  margin: 0;
  position: relative;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  min-height: 112px;
}

.profile-pic-upload .p-image .file-uploadpic-label {
  padding: 0;
  margin: 0 0 0px 0;
  line-height: 24px;
  font-weight: 400;
  width: 100%;
  cursor: pointer;
  font-size: 20px;
  color: #181818;
  letter-spacing: 0;
  height: auto;
}

.profile-pic-upload .p-image .file-uploadpic-label .span-block {
  display: block;
}

/* End of profile pic  */
/* modal */
.btn.btn-primary {
  background: #2A42E1;
  border: 1px solid #642BDE;
  border-radius: 4px;
  padding: 10px 30px;
  min-height: 52px;
  font-weight: 700;
  font-size: 22px;
  color: #FFFFFF;
  letter-spacing: 0;
  text-align: center;
  min-width: 200px;
}

.modal-backdrop {
  z-index: 9999;
}

.modal {
  z-index: 99999;
}

.modal-common {
  z-index: 99999;
}

.modal-common .modal-dialog {
  max-width: 790px;
}

.modal-common .modal-content {
  border-radius: 0px;
}

.modal-common .modal-header {
  padding: 0;
  border: none;
}

.modal-common .modal-header .close {
  background-color: #D8D8D8;
  height: 42px;
  width: 42px;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 1;
  opacity: 1;
  text-shadow: none;
  border-radius: 100%;
  position: absolute;
  top: -20px;
  right: -20px;
  outline: none;
  z-index: 9;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.modal-common .modal-header .close:hover, .modal-common .modal-header .close:focus {
  background-color: #DDD;
}

.modal-common .modal-body {
  padding: 0;
}

.modal-common .common-box {
  padding: 60px 0 30px 0;
}

.modal-common .common-box h3 {
  font-weight: 700;
  font-size: 34px;
  color: #282D30;
  letter-spacing: 0;
  text-align: center;
  padding: 0;
  margin: 0 0 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-common .common-box .heading-box {
  padding: 0px 20px;
  margin: 0;
}

.modal-common .common-box .heading-box h3 {
  position: relative;
}

.modal-common .common-box .heading-box h3::before {
  content: "";
  background-color: #2A42E1;
  position: absolute;
  bottom: -10px;
  width: 40px;
  height: 3px;
  margin: 0 auto;
}

.modal-common .common-box .content-box {
  padding: 10px 20px 20px 20px;
  margin: 0;
}

.modal-common .common-box .content-box p {
  font-weight: 400;
  font-size: 22px;
  color: #000000;
  text-align: center;
  line-height: 30px;
  padding: 0;
  margin: 0 auto 20px auto;
  max-width: 550px;
}

.modal-common .common-box .verify-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 40px 40px 20px 40px;
  background-color: #F2F2F2;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal-common .modal-footer {
  border: none;
  padding: 30px 20px 40px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* End of banner */
/* Inner Pages  **/
/* end of home page */
/* loader */
.loader-box {
  padding: 0;
  margin: 0;
  position: fixed;
  height: 100vh;
  width: 100%;
  z-index: 99999;
  background-color: rgba(255, 255, 255, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.loader-box.show-loader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.loader-box .lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.loader-box .lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #2A42E1;
  -webkit-animation-timing-function: cubic-bezier(0, 1, 1, 0);
          animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.loader-box .lds-ellipsis div:nth-child(1) {
  left: 8px;
  -webkit-animation: lds-ellipsis1 0.6s infinite;
          animation: lds-ellipsis1 0.6s infinite;
}

.loader-box .lds-ellipsis div:nth-child(2) {
  left: 8px;
  -webkit-animation: lds-ellipsis2 0.6s infinite;
          animation: lds-ellipsis2 0.6s infinite;
}

.loader-box .lds-ellipsis div:nth-child(3) {
  left: 32px;
  -webkit-animation: lds-ellipsis2 0.6s infinite;
          animation: lds-ellipsis2 0.6s infinite;
}

.loader-box .lds-ellipsis div:nth-child(4) {
  left: 56px;
  -webkit-animation: lds-ellipsis3 0.6s infinite;
          animation: lds-ellipsis3 0.6s infinite;
}

@-webkit-keyframes lds-ellipsis1 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes lds-ellipsis1 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes lds-ellipsis3 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@-webkit-keyframes lds-ellipsis2 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(24px, 0);
            transform: translate(24px, 0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(24px, 0);
            transform: translate(24px, 0);
  }
}

/* End of loader */
@media (min-width: 1025px) and (max-width: 1290px) {
  .container {
    max-width: 1100px;
  }
}

@media (min-width: 1025px) and (max-width: 1450px) {
  .heading-div h2 {
    font-size: 36px;
    line-height: 48px;
  }
  h2 {
    font-size: 36px;
    line-height: 48px;
  }
  p {
    font-size: 14px;
    line-height: 26px;
  }
  .btn-link {
    font-size: 14px;
    line-height: 26px;
  }
}

@media (max-width: 767px) {
  header .header-div {
    min-height: 70px;
    background-color: #2A42E1;
  }
  header .header-div .nav-center-div {
    width: 30%;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    min-height: 70px;
    padding: 0;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  header .header-div .logo-div {
    width: 70%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  header .header-div .logo-div .logo_link {
    width: 190px;
  }
  header .header-div .top-nav1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  header .header-div .nav-m-bar .menu-bars {
    font-size: 30px;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .header-div .nav-div {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 9999999;
    top: 0;
    right: 0;
    background-color: white;
    overflow-x: hidden;
    padding-top: 60px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  header .header-div .nav-div .closebtn {
    position: absolute;
    color: #0C406B;
    background-color: transparent;
    border-radius: 0 0 0 30px;
    top: 0;
    min-width: 45px;
    text-align: center;
    height: 45px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    right: 0;
    font-size: 40px;
    font-weight: 300;
    line-height: 35px;
    margin-top: 15px;
    margin-right: 10px;
  }
  header .header-div .nav-div .closebtn:hover {
    color: #2a42e1;
  }
  header .header-div .nav-div .closebtn {
    display: block;
  }
  header .header-div .width80 {
    width: calc(100% - 68px);
  }
  header .header-div .opacityon {
    opacity: 1;
  }
  header .header-div .cd-shadow-layer.displayblock {
    display: block;
    height: 100%;
    overflow: hidden;
  }
  header .header-div .nav {
    margin: 0 auto;
  }
  header .header-div .max-container-container {
    bottom: 20px;
  }
  header .header-div .banner-caption {
    padding: 0px 0;
  }
  header .header-div .banner-section .banner-div .center_title .social-icon-div ul {
    margin: 0 0 8px 0;
  }
  header .header-div .header-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header .header-div .header-right-div {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .header-div .logo-div {
    padding: 15px 0;
    min-height: 70px;
  }
  header .header-div .nav-div .closebtn {
    display: block;
    color: #0C406B;
  }
  header .header-div .ullist-inline li {
    width: 100%;
    margin: 0;
  }
  header .header-div .ullist-inline li .nav-link {
    color: #0C406B !important;
    padding: 15px 30px;
    white-space: nowrap;
    width: 100%;
    text-align: left;
  }
  header .header-div .ullist-inline li.active .nav-link {
    color: #2a42e1 !important;
  }
  header .header-div a.btn.btn-blue.top-minues10 {
    margin: 10px !important;
    border-radius: 0px;
  }
  header .header-div .ullist-inline li.dropdown {
    position: relative;
  }
  header .header-div .ullist-inline li.dropdown::after {
    content: "\e92e";
    font-family: Feather !important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    position: absolute;
    right: 15px;
    top: 16px;
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
    -webkit-font-smoothing: antialiased;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  header .header-div .ullist-inline li.dropdown.show::after {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  header .header-div .ullist-inline li .nav-link.btn-user {
    margin: 0px 0 0 0;
    width: 100%;
    border-radius: 0px;
    color: rgba(255, 255, 255, 0.5) !important;
  }
  header .header-div .ullist-inline li .nav-link.btn-user::before {
    display: none;
  }
  header .header-div .dropdown-toggle::after {
    margin: 10px 0 10px 10px;
  }
  header .header-div .dropdown-menu.show {
    position: relative !important;
    top: auto !important;
    left: auto !important;
    min-width: 100% !important;
    width: 100%;
    margin: 0rem 0 0;
    -webkit-transform: none !important;
            transform: none !important;
    text-align: center;
  }
  header .header-div .dropdown-menu.show li {
    text-align: left;
    padding-left: 30px;
    font-size: 14px;
  }
  header .header-div .dropdown-menu.show li a {
    font-size: 14px;
  }
  header .header-div .ullist-inline li.myaccount-count {
    margin: 20px 0 0 0;
  }
  header .header-div .btn.btn-gradiant2.btn-mycart {
    margin: 0 !important;
    border-radius: 0px;
    max-width: 100%;
  }
  header .header-div .contact-us-btn.ml-10 {
    margin: 20px 20px 20px 20px !important;
    padding: 10px;
  }
  header .header-div.scrollUp {
    -webkit-transform: initial;
            transform: initial;
  }
  .position-fixed {
    overflow: hidden;
  }
  .heading-div h2 {
    font-size: 36px;
    line-height: 48px;
  }
  h2 {
    font-size: 36px;
    line-height: 48px;
  }
  p {
    font-size: 14px;
    line-height: 26px;
  }
  .btn-link {
    font-size: 14px;
    line-height: 26px;
  }
  .banner-section .banner-div .content-banner {
    z-index: 2;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .banner-section .banner-div .content-banner h1 {
    font-size: 36px;
    line-height: 48px;
    margin: 0 0 25px 0;
    padding: 40px 0 !important;
  }
  .banner-section .banner-div .content-banner .text-content {
    padding: 0 15px;
  }
  .banner-section .banner-div .max-container-container {
    margin: 0 0 0 15px;
    position: relative;
    text-align: left;
    bottom: 0;
    padding: 0 0 20px 0;
    width: 100%;
  }
  .banner-section .banner-div .side-img-banner {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    min-height: 100%;
    position: relative;
  }
  .banner-section .banner-div .side-img-banner img.banner-img {
    height: 100%;
    max-height: 100%;
    width: 100%;
  }
  .return-to-top {
    bottom: 10px;
    right: 10px;
    width: 35px;
    height: 35px;
  }
  .return-to-top i {
    font-size: 14px !important;
  }
  /********/
  .max-input-div .form-control {
    padding-left: 110px !important;
    padding-right: 60px !important;
  }
  .max-input-div .select-box.select-custom2 {
    width: 95px;
    min-height: 47px;
    height: 47px;
    top: 2px;
  }
  .max-input-div .btn-link {
    line-height: 28px;
    padding: 10px 15px;
    min-height: 46px;
  }
  .selectbox-inline .select-custom2 span.select2-selection.select2-selection--single {
    font-size: 16px;
  }
  .authntication-section .authntication-inner {
    padding-top: 70px;
    padding-bottom: 20px;
  }
  .authntication-section .authntication-inner .authntication-box-header {
    padding: 0px 0 0px 0;
  }
  .authntication-section .authntication-inner .authntication-box {
    min-height: auto;
    padding: 40px 20px;
  }
  .authntication-section .authntication-inner .authntication-box .form-group label {
    font-size: 18px;
  }
  .authntication-section .authntication-inner .authntication-box .form-group .form-control {
    height: 50px;
    margin-bottom: 20px;
  }
  .authntication-section .authntication-inner .authntication-box .form-group .input-pin-code-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-bottom: 20px;
  }
  .authntication-section .authntication-inner .authntication-box .form-group .input-pin-code-div .form-control {
    margin-right: 5px;
    max-width: 58px;
    font-size: 16px;
    padding: 3px;
  }
  .authntication-section .authntication-inner .authntication-box .form-group .input-pin-code-div .dash {
    display: none;
  }
  .authntication-section .authntication-inner .authntication-box .forgot-password {
    position: relative;
  }
  .authntication-section .authntication-inner .authntication-box .forgot-password .left-time {
    position: absolute;
    right: 0px;
    top: 5px;
  }
  .authntication-section .authntication-inner .authntication-box .forgot-password .left-time strong {
    margin-right: 5px;
  }
  .authntication-section .authntication-inner .authntication-box .forgot-password .form-control {
    padding-right: 10px;
  }
  .authntication-section .authntication-inner .authntication-box .authentication-btn {
    padding-top: 20px;
  }
  .authntication-section .authntication-inner .authntication-box .authentication-btn .btn-login {
    background: #2A42E1;
    border: 1px solid #642BDE;
    border-radius: 100px;
    font-size: 24px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    line-height: 44px;
    width: 100%;
    min-height: 58px;
    display: inline-block;
    -webkit-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
    min-height: 50px;
    height: 50px;
    line-height: 36px;
    font-size: 18px;
  }
  .authntication-section .authntication-inner .authntication-box .authentication-btn .btn-login:hover, .authntication-section .authntication-inner .authntication-box .authentication-btn .btn-login:focus {
    -webkit-box-shadow: 0 5px 25px 5px rgba(42, 66, 225, 0.3);
            box-shadow: 0 5px 25px 5px rgba(42, 66, 225, 0.3);
  }
  .authntication-section .authntication-inner .authntication-box-footer {
    padding: 15px;
  }
  .authntication-section .authntication-inner .authntication-box-footer a {
    font-size: 16px;
  }
  .authntication-section .authntication-inner .form-group .form-control {
    font-size: 16px;
    padding: 10px 15px;
    min-height: 50px;
    height: auto;
  }
  .authntication-section .authntication-inner .form-group label {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .authntication-section .authntication-inner.step-content-inner {
    padding-bottom: 70px;
  }
  .authntication-section .authntication-inner.step-content-inner .registration-box {
    padding: 0;
  }
  .authntication-section .authntication-inner.step-content-inner .registration-box .step-header ul.nav.nav-tabs {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    white-space: nowrap;
    overflow-x: auto;
  }
  .authntication-section .authntication-inner.step-content-inner .registration-box .step-header ul.nav.nav-tabs::after {
    content: "";
  }
  .authntication-section .authntication-inner.step-content-inner .registration-box .step-header ul.nav.nav-tabs li {
    min-width: auto;
    display: inline-block;
  }
  .authntication-section .authntication-inner.step-content-inner .registration-box .step-header ul.nav.nav-tabs li a {
    font-size: 14px;
    line-height: 20px;
    padding: 15px 15px;
  }
  .authntication-section .authntication-inner.step-content-inner .registration-box .step-content .footer-step {
    padding: 10px 0;
  }
  .authntication-section .authntication-inner.step-content-inner .registration-box .step-content .footer-step .btn-common {
    font-size: 18px;
    line-height: 30px;
    min-height: 48px;
  }
  .authntication-section .authntication-inner.step-content-inner .registration-box .step-content .footer-step .container-1000 {
    max-width: 738px;
  }
  .authntication-section .authntication-inner.step-content-inner .registration-box .form-group .form-control {
    font-size: 16px;
    padding: 10px 15px;
    min-height: 50px;
    height: auto;
  }
  .authntication-section .authntication-inner.step-content-inner .registration-box .form-group label {
    font-size: 16px;
    margin-bottom: 10px;
  }
  /* step forms */
  /* End of step forms */
  .input-forms-common .input-pin-code-div .form-control {
    max-width: 40px;
    min-height: 40px;
    font-size: 20px;
    padding: 10px 5px;
  }
  .btn.btn-primary {
    padding: 6px 30px;
    min-height: 46px;
    font-size: 18px;
    min-width: 150px;
  }
  .btn-common-icon-link {
    font-size: 20px;
    line-height: 36px;
    min-height: 48px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .btn-common-icon-link i.fe {
    padding: 0 10px 0 0;
  }
  .form-group.form-group-112 {
    min-height: auto;
  }
  .profile-pic-upload {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .profile-pic-upload .p-image {
    padding: 15px 10px 10px 10px;
    min-height: auto;
  }
  .modal-common .modal-header .close {
    top: -24px;
    right: 0;
  }
  .modal-common .common-box {
    padding: 40px 0 20px 0;
  }
  .modal-common .common-box h3 {
    font-size: 24px;
    margin: 0 0 30px 0;
  }
  .modal-common .common-box .verify-row {
    padding: 20px 20px 0px 20px;
  }
  .modal-common .common-box .content-box p {
    font-size: 18px;
    line-height: 24px;
    margin: 0 auto 10px auto;
  }
  .modal-common .modal-footer {
    padding: 20px 20px 30px 20px;
  }
  .connection-form-group .invite-box-root {
    -ms-flex-wrap: nowrap !important;
        flex-wrap: nowrap !important;
  }
  .connection-form-group .invite-box-root .invite-box-card {
    min-width: 286px !important;
  }
  .authntication-section .authntication-inner .registration-box .step-header ul li.active-tab::before {
    font-size: 18px;
    margin: 1px 0 0 0;
  }
  .authntication-section .authntication-inner.step-content-inner .registration-box .step-header ul.nav.nav-tabs li a {
    padding: 15px 25px;
  }
  /* add css */
  .authntication-section .authntication-inner.step-content-inner .authntication-box-header {
    padding: 40px 0 0 0;
  }
  /* End of add css */
}

@media (min-width: 768px) and (max-width: 1024px) {
  .heading-div h2 {
    font-size: 28px;
  }
  .heading-div p {
    font-size: 16px;
  }
  header .header-div {
    min-height: 70px;
  }
  header .header-div .nav-center-div {
    width: 30%;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    min-height: 70px;
    padding: 0;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  header .header-div .logo-div {
    width: 70%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  header .header-div .logo-div .logo_link {
    width: 200px;
  }
  header .header-div .top-nav1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  header .header-div .nav-m-bar .menu-bars {
    font-size: 30px;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .header-div .nav-div {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 9999999;
    top: 0;
    right: 0;
    background-color: white;
    overflow-x: hidden;
    padding-top: 60px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  header .header-div .nav-div .closebtn {
    position: absolute;
    color: #0C406B;
    background-color: transparent;
    border-radius: 0 0 0 30px;
    top: 0;
    min-width: 45px;
    text-align: center;
    height: 45px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    right: 0;
    font-size: 40px;
    font-weight: 300;
    line-height: 35px;
    margin-top: 15px;
    margin-right: 10px;
  }
  header .header-div .nav-div .closebtn:hover {
    color: #2a42e1;
  }
  header .header-div .nav-div .closebtn {
    display: block;
  }
  header .header-div .width80 {
    width: 300px;
  }
  header .header-div .opacityon {
    opacity: 1;
  }
  header .header-div .cd-shadow-layer.displayblock {
    display: block;
    height: 100%;
    overflow: hidden;
  }
  header .header-div .nav {
    margin: 0 auto;
  }
  header .header-div .max-container-container {
    bottom: 20px;
  }
  header .header-div .banner-caption {
    padding: 0px 0;
  }
  header .header-div .banner-section .banner-div .center_title .social-icon-div ul {
    margin: 0 0 8px 0;
  }
  header .header-div .header-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header .header-div .header-right-div {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .header-div .logo-div {
    padding: 15px 0;
    min-height: 70px;
  }
  header .header-div .nav-div .closebtn {
    display: block;
    color: #0C406B;
  }
  header .header-div .ullist-inline li {
    width: 100%;
    margin: 0;
  }
  header .header-div .ullist-inline li .nav-link {
    color: #0C406B !important;
    padding: 15px 30px;
    white-space: nowrap;
    width: 100%;
    text-align: center;
  }
  header .header-div .ullist-inline li.active .nav-link {
    color: #2a42e1 !important;
  }
  header .header-div .ullist-inline li.dropdown::after {
    content: "\e92e";
    font-family: Feather !important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    position: absolute;
    right: 15px;
    top: 17px;
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
    -webkit-font-smoothing: antialiased;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  header .header-div .ullist-inline li.dropdown.show::after {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  header .header-div a.btn.btn-blue.top-minues10 {
    margin: 10px !important;
    border-radius: 0px;
  }
  header .header-div .ullist-inline li .nav-link.btn-user {
    margin: 0px 0 0 0;
    width: 100%;
    border-radius: 0px;
    color: rgba(255, 255, 255, 0.5) !important;
  }
  header .header-div .ullist-inline li .nav-link.btn-user::before {
    display: none;
  }
  header .header-div .dropdown-toggle::after {
    margin: 10px 0 10px 10px;
  }
  header .header-div .dropdown-menu.show {
    position: relative !important;
    top: auto !important;
    left: auto !important;
    min-width: 100% !important;
    width: 100%;
    margin: 0rem 0 0;
    -webkit-transform: none !important;
            transform: none !important;
    text-align: center;
  }
  header .header-div .ullist-inline li.myaccount-count {
    margin: 20px 0 0 0;
  }
  header .header-div .btn.btn-gradiant2.btn-mycart {
    margin: 0 !important;
    border-radius: 0px;
    max-width: 100%;
  }
  header .header-div .contact-us-btn.ml-10 {
    margin: 20px 20px 20px 20px !important;
    padding: 10px;
  }
  header .header-div.scrollUp {
    -webkit-transform: initial;
            transform: initial;
  }
  .position-fixed {
    overflow: hidden;
  }
  .heading-div h2 {
    font-size: 36px;
    line-height: 48px;
  }
  h2 {
    font-size: 36px;
    line-height: 48px;
  }
  p {
    font-size: 14px;
    line-height: 26px;
  }
  .prag-breack {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 7;
    overflow: hidden;
  }
  .prag-breack .span-block {
    margin: 0 0 5px 0;
    display: inline;
  }
  .banner-section .banner-div .content-banner {
    z-index: 2;
  }
  .banner-section .banner-div .content-banner h1 {
    font-size: 36px;
    line-height: 48px;
    margin: 0 0 25px 0;
  }
  .banner-section .banner-div .content-banner .text-content {
    padding: 0 15px;
  }
  .banner-section .banner-div .max-container-container {
    margin: 0 0 0 15px;
  }
  .banner-section .banner-div .side-img-banner {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    min-height: 100%;
    position: relative;
  }
  .return-to-top {
    bottom: 10px;
    right: 10px;
    width: 35px;
    height: 35px;
  }
  .return-to-top i {
    font-size: 14px !important;
  }
  .authntication-section .authntication-inner.step-content-inner .registration-box .step-header ul.nav.nav-tabs {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    white-space: nowrap;
    overflow-x: auto;
  }
  .authntication-section .authntication-inner.step-content-inner .registration-box .step-header ul.nav.nav-tabs::after {
    content: "";
  }
  .authntication-section .authntication-inner.step-content-inner .registration-box .step-header ul.nav.nav-tabs li {
    min-width: 25%;
    display: inline-block;
  }
  .authntication-section .authntication-inner.step-content-inner .registration-box .step-header ul.nav.nav-tabs li a {
    font-size: 16px;
    line-height: 20px;
    padding: 15px 15px;
  }
  .authntication-section .authntication-inner.step-content-inner .registration-box .step-content .footer-step {
    padding: 10px 0;
  }
  .authntication-section .authntication-inner.step-content-inner .registration-box .step-content .footer-step .btn-common {
    font-size: 18px;
    line-height: 30px;
    min-height: 48px;
  }
  .authntication-section .authntication-inner.step-content-inner .registration-box .step-content .footer-step .container-1000 {
    max-width: 738px;
  }
  .modal-common .modal-dialog {
    max-width: 700px;
  }
  /* add css */
  .authntication-section .authntication-inner.step-content-inner {
    padding-bottom: 70px;
  }
  .authntication-section .authntication-inner .authntication-box-header {
    padding: 0px 0 0 0;
  }
  .authntication-section .authntication-inner.step-content-inner .authntication-box-header {
    padding: 40px 0 0 0;
  }
  .authntication-section .authntication-inner .registration-box .step-content .tab-pane-inner.upload-step {
    min-height: calc(100vh - 382px);
  }
  /* End of add css */
}
/*# sourceMappingURL=style.css.map */